[2020-04-11 18:57] subuhinaseer opened #1 "label style is not changing"
![color](https://user-images.githubusercontent.com/63515806/79052460-2482c800-7c50-11ea-984a-5292f97c7f87.PNG)

[2020-04-11 19:14] Cnilton commented on #1
Sorry, it's working as expected. It was only my mistake not to show instructions for the label styles. Will update props and README.md

[2020-04-11 19:57] #1 closed

[2020-04-11 20:03] Cnilton commented on #1
Thank you for your cooperation. I'll close this for now, since it was just a prop documentation flaw.

[2020-04-12 05:49] subuhinaseer commented on #1
Thanks for you response.. but it's still not working don't know why?
Am i doing it correctly?
![color1](https://user-images.githubusercontent.com/63515806/79061590-29c13080-7cab-11ea-897d-217faa220f3e.PNG)

[2020-04-12 13:47] Cnilton commented on #1
I think you didn't update your version. These changes were just implemented in version 1.0.6. Can you verify that you're using the most recent version?

![Screenshot_2020-04-12-10-36-44-1 1](https://user-images.githubusercontent.com/40298250/79070148-2bd6bf80-7caa-11ea-8668-79b83f2e7e6e.png)
![20200412_104501 1](https://user-images.githubusercontent.com/40298250/79070222-ba4b4100-7caa-11ea-90a7-92

[2020-04-13 05:07] subuhinaseer commented on #1
i have updated the version...
![pkg](https://user-images.githubusercontent.com/63515806/79093621-43777c00-7d6e-11ea-84f8-53a42bf329e1.PNG)

[2020-04-13 11:51] Cnilton commented on #1
I see... Can you please show all your styles?

[2020-04-13 12:39] subuhinaseer commented on #1
this is complete code of FloatingLabel component
![11](https://user-images.githubusercontent.com/63515806/79120990-b05e3680-7dad-11ea-8f17-2af714d529af.PNG)
![21](https://user-images.githubusercontent.com/63515806/79120998-b18f6380-7dad-11ea-8250-fa2775d11225.PNG)

import React from 'react'
import { View, StyleSheet } from 'react-native'
import FloatingLabelInput from 'react-native-floating-label-

[2020-04-13 12:40] subuhinaseer commented on #1
All styles are working perfectly except the label..

[2020-04-13 13:31] Cnilton commented on #1
So, I couldn't reproduce the issue as you can see in the photos... Can you please, delete your node_modules folder and install the modules again (yarn or npm install)?

![Screenshot_2020-04-13-10-27-03-1 1](https://user-images.githubusercontent.com/40298250/79123971-b7ffea00-7d71-11ea-8cdd-f92e0cf7b760.png)
![20200413_102750 1](https://user-images.githubusercontent.com/40298250/79123992-c221e880-7

[2020-04-14 14:06] Cnilton commented on #1
@subuhinaseer, any updates?

[2020-07-12 17:00] DodlaRajasekharReddy1995 opened #2 "onBlur is not working"
hi , thanks for the wonderful library ...it helped a lot. But in this library onBlur is not working . I want to validate the entered input when the input field gets out of focus. Actually we can acheive this using onBlur for normal input field , but i am not able to find any props to achieve this in this library .

is there any prop to achieve this...Please help me out with this.

[2020-07-12 18:07] Cnilton commented on #2
Hi, indeed native props are not available still.. I'll work on it.

[2020-07-13 17:46] #2 closed

[2020-07-14 13:40] Cnilton commented on #2
@DodlaRajasekharReddy1995, this issue has been fixed at the last update, could you please check it out?

[2020-08-13 15:40] mariomnesp opened #4 "customLabelStyles not working"
Hi, thanks for this library!
So, the issue is customLabelStyles is expecting an object that can't really be matched, because it's expecting it's children's types to be the intended default values. When it receives the props on index.tsx it looks like this, when it should be specifying numbers and strings:
![image](https://user-images.githubusercontent.com/69463294/90155422-a9e2ca00-dd61-11ea-9996-

[2020-08-13 17:51] Cnilton commented on #4
Hello, @mariomnesp!

Thank you for contributing! I just fixed those mistakes. Could you please try updating and checking if it is still reproducible?

[2020-08-15 09:23] pawicao opened #5 "'alignItems' container style breaks the input fields"
Hi!
When you place **FloatingLabelInputs** inside a **View** container which has the `alignItems` style set to something different than `'stretch' (default)`, these inputs don't work properly. They are very narrow, placeholders go out of borders and the user input itself isn't visible.
I've tried setting width for the inputs to fix it, but it doesn't solve the issue - entered text gets cropped and

[2020-08-15 10:59] Cnilton commented on #5
Hi @pawicao, could you please show some of your code? The styles and jsx of component would be great

[2020-08-15 11:54] pawicao commented on #5
Of course, here is a sample reproduction of the case:
[code]
I also have it wrapped in Navigator from **react-navigation** but I don't think that this fact has any impact

[2020-08-17 13:37] Cnilton commented on #4
I'll close this issue as no response was given and as it's not reproducible anymore to me.

[2020-08-17 13:37] #4 closed

[2020-08-17 13:38] Cnilton commented on #5
Hi @pawicao, could you please update to the version 1.1.2 and see if it's still reproducible?

[2020-08-17 16:43] pawicao commented on #5
Unfortunetaly exactly the same problem still occurs.
I did an easy workaround in my case by leaving it streched and just using some padding.

[2020-08-17 18:12] Cnilton commented on #5
Are you sure you updated the version? Because I can't reproduce it anymore, as the images shows:

stretch:
![issue](https://user-images.githubusercontent.com/40298250/90429354-f3058780-e09b-11ea-8e41-231528ad9a51.png)

center:
![issueCenter](https://user-images.githubusercontent.com/40298250/90429367-fb5dc280-e09b-11ea-8661-6c5d905caa59.png)

[2020-08-19 22:02] Cnilton commented on #5
@pawicao, can you reproduce the error still?

[2020-08-19 22:38] pawicao commented on #5
Yes, I'm sure I updated the version of the package to 1.1.2
I can still reproduce the error, tested on two different devices

[2020-08-19 23:24] Cnilton commented on #5
Ok, can you please show your code with the react-navigation part too? Because I can't see why it is still reproducible for you ...
Another thing, can you please show your package.json with the version of the package?
Sorry for the inconvenience.

[2020-08-20 07:19] pawicao commented on #5
Here's the package.json fragment with dependencies versions.
[code]

`LoginScreen.js` - where the FloatingLabelInputs are in - render method returns:
[code]

`MainNavigator.js` in which the LoginScreen is placed:
[code]

And to show the whole picture, here is `App.js` which renders MainNavigator inside redux Provider:
[code]

[2020-08-20 21:55] Cnilton commented on #5
Indeed, I did reproduce an error, but now the input was always stretched. I'll push a new version fixing this, please test version 1.1.3.

[2020-09-14 11:16] raginisahu opened #8 "How do we use editable false property ?"

[2020-09-14 13:07] Cnilton commented on #8
Using the selectTextOnFocus={false} and editable={false} props will make your input disabled for editing. For extra effect, you could use useState to change the input style and change those props values at once.

[2020-09-14 13:07] #8 closed

[2020-09-25 22:23] psenechal opened #10 "Animation"
Hello...thanks for writing this library!

I noticed in the GIF example you have on the README, the labels do a nice little animated bounce when the input field is clicked on. In my implementation, I don't see that animation...the labels just instantly jump to their position. Is there some additional configuration I can add to duplicate the animation effect that you have in your GIF example?

Thank

[2020-09-25 22:41] Cnilton commented on #10
Hi @psenechal, there is no need for any additional configuration. Can you please inform the version of react-native and if possible a GIF of the problem?  It would help too if you could show a little bit of code to see if something is preventing the animation from happening.

Thanks for contributing!

[2020-09-28 17:45] psenechal commented on #10
Hello,
I'm using react-native: 0.63.2
The implementation is pretty simple:
[code]

The fields are wrapped in a Formik container.
I'll try to post a GIF of it...just need to figure out how to do that =)

Thanks!

[2020-09-28 17:53] psenechal commented on #10
![floating_label](https://user-images.githubusercontent.com/1395106/94468135-d23f5000-0178-11eb-8afd-d3a305d9d0db.gif)

[2020-09-29 04:57] sainyanhtay commented on #10
I'm facing animation issue too

[2020-09-29 12:14] Cnilton commented on #10
Okay, it seems to be an issue with UIManager from NativeModules. I'll look into it

[2020-09-29 12:35] sainyanhtay commented on #10
it's ok in android @Cnilton

[2020-09-29 12:56] Cnilton commented on #10
Thanks, @sainyanhtay, I'll commit the changes briefly

[2020-09-29 15:39] Cnilton commented on #10
Could you please test if it is still reproducible at version 1.2.4?

[2020-09-29 15:56] psenechal commented on #10
Appears to be resolved in v1.2.4. Thanks for the update!

[2020-09-29 15:59] Cnilton commented on #10
That's great, thanks for your contribution @psenechal, @sainyanhtay!

[2020-09-29 15:59] #10 closed

[2020-09-29 16:13] psenechal opened #11 "Enhancement - Enable multiline to create autosize textarea"
While I was looking through your code, I realized how incredibly easy it would be to make a small alteration to enable your library to also become an autosizing Textarea control.

I added a new attribute to Props interface in index.tsx at line 71
[code]
and then applied that attribute to the TextInput at line 318
[code]

instant autosizing textarea using floating label and I don't have to roll my

[2020-09-29 17:09] Cnilton commented on #11
Hi @psenechal, you are most welcome to create a pull request with the said changes, it would be great to expand this library even more!

[2020-09-29 17:21] psenechal commented on #11
![Simulator Screen Shot - iPhone 11 - 2020-09-29 at 10 21 10](https://user-images.githubusercontent.com/1395106/94591924-94582f80-023d-11eb-8be6-97d4a1de71a4.png)

[2020-09-29 17:36] psenechal commented on #11
I'll create 2 pull requests. One for just enabling the multiline capability and another for the counter functionality

[2020-09-29 18:21] psenechal opened #13 "Enhancement: Update Currency Mask Rules"
I noticed the currency mask allows multiple decimals and the number of decimal places is also not limited.

I think it would help to only allow one use of the decimal and default the number of decimal places to 2 with an override available for currencies that have zero or 3.

I might see if I can work up a pull request for this if I have time.

[2020-09-29 22:35] Cnilton commented on #11
Ok, I'll comment about them at their pull requests.

[2020-09-29 23:08] Cnilton commented on #11
Can you please update the README.md with an example of the new multiline feature, just as it was done with the mask feature?

[2020-09-29 23:09] Cnilton commented on #11
I'm sorry I merge the pull request before thinking of the example

[2020-10-01 19:13] Cnilton commented on #11
I'll add the example in README.md and generate a new version to npm, so I'm closing this issue. Thanks for your contribution!

[2020-10-01 19:13] #11 closed

[2020-10-01 19:16] Cnilton commented on #13
So, I denied the pull request as you recommended, but now I don't remember if your updates for masks were taken already.

[2020-10-01 19:59] psenechal commented on #13
Yes...the first pull request that you merged ended up having both changes in it, so you should have the updated currency mask rules and the multiline functionality. Rookie mistake with my branching there...sorry about the confusion.

[2020-10-01 20:03] psenechal commented on #13
You're right...the code is not in there.
I'll create another pull request with the update for the currency mask.

[2020-10-01 20:05] Cnilton commented on #13
Ok, I'll be waiting for your pull request

[2020-10-01 20:44] Cnilton commented on #13
I just merged your pull request, and I'll fix a few little bugs and launch the next version on npm, thanks for your contribution!

[2020-10-01 22:07] #13 closed

[2020-10-07 13:40] edwardigates opened #16 "RTL support"
What if I want the floating label to be on the right side for hebrew/arabic?
I tried to play with `containerStyles`, `labelStyles` and `inputStyles`, but I couldn't set the label to appear from the right.
Does this library support rtl, how can I achieve it?

Edit:
The only way I could put the label on the right is this styling:
`labelStyles={{width:'100%', textAlign:'right'}}`

But I'm not sure th

[2020-10-07 14:20] Cnilton commented on #16
Hi @edwardigates, I'm not sure, but I think that there is a way to do it using customLabelStyles prop. I'll look into it!

[2020-10-07 14:46] Cnilton commented on #16
So, I can confirm with the following code that RTL is already supported with a few extra steps:

[code]

<img src ="https://i.imgur.com/yBbQM1w.gif" width="40%"/>

[2020-10-07 14:59] edwardigates commented on #16
@Cnilton Thanks.

[2020-10-07 15:02] edwardigates opened #17 "Floating label with drop down - Feature suggestion"
Is there any plans to add floating labels with drop downs (selects) like [this](https://material-ui.com/components/selects/) ?

[2020-10-07 15:10] Cnilton commented on #16
@edwardigates You're welcome!

[2020-10-07 15:10] #16 closed

[2020-10-08 02:33] Cnilton commented on #17
@edwardigates, not in this component, I'm sorry. That funcionality relies on a Picker as base component, and this library relies on TextInput.

Although, this is a pretty good feature for @react-native-community/picker, if it's not already implemented. Can you please check? If they don't intend on adding this funcionality, I think I might be able to create a custom picker library with that funcion

[2020-10-11 13:47] #17 closed

[2020-10-16 20:33] filipejuan opened #18 "How can I align the lebel to center?"

[2020-10-16 21:52] Cnilton commented on #18
Hi @filipejuan, I for aligning both label and input to center use the following prop styles:

[code]

Can you please confirm?

[2020-10-16 22:57] filipejuan commented on #18
Yes, it work! Thank you

[2020-10-16 22:57] #18 closed

[2020-10-21 12:46] edwardigates opened #19 "mask and maskType"
I have a question about using mask and maskType.
I want to use the text input for credit card input, I set the maskType to 'card', but what should be the mask for the card?
I want it to appear divided into groups of 4 digits. Can I achieve it with the properties?

[2020-10-21 13:11] Cnilton commented on #19
Hi @edwardigates,

Yes, you can achieve it with the properties. Try the following:

[code]

Hope this helps.

[2020-10-23 12:39] #19 closed

[2020-11-07 19:38] AvitaliyaORG opened #20 "How to set custom password Hide icon?"

[2020-11-09 00:08] Cnilton commented on #20
Hi @AvitaliyaORG, I see.. this is an issue, I've forgotten to add the "hide" custom icon prop. I'll work on it. Tomorrow I'll create a new version.

[2020-11-09 13:36] Cnilton commented on #20
@AvitaliyaORG, can you please try the new version 1.2.9, and verify it?

[2020-11-11 10:46] #20 closed

[2020-11-13 01:19] idiglove opened #21 "How to maximize width of container?"
<img width="321" alt="Screen Shot 2020-11-13 at 9 17 39 AM" src="https://user-images.githubusercontent.com/29911508/99016054-3aaf8880-2591-11eb-87ff-fff3e7735bd4.png">

I want my input container to not have any spaces on the sides. How to achieve this?
I have added margin:0 and padding: 0 in containerStyles but doesnt work

thanks

[2020-11-13 13:08] Cnilton commented on #21
Hi @idiglove, I think that my default styles are making this behavior. Can you please try adding paddingHorizontal:0 also?

[2020-11-17 10:52] #21 closed

[2020-11-19 12:17] singhvishal802 opened #22 "ispassword= true is not working in android"
<FloatingLabelInput
              label="Password"
              value={password}
              isFocused={isPassFocused}
              labelStyles={{ color: isPassFocused ? '#B6254E' : '#333333', fontSize: wp("4%"), marginLeft: 25 }}
              containerStyles={{ borderWidth: 0, paddingLeft: 35, height: wp("15%"), }}
              onFocus={() => {
                setIsPassFocused(true);

[2020-11-21 02:58] Cnilton commented on #22
Hi @singhvishal802, I'll be testing this by tomorrow, and if this is reproducible I'll provide a workaround or fix

[2020-11-21 12:36] Cnilton commented on #22
So, using your code "isPassword" prop is working as expected. As you see in the image, everything is working:

![print issue flip](https://user-images.githubusercontent.com/40298250/99877438-06654900-2bdd-11eb-918e-48d41db2d842.png)

Could you please elaborate if this issue remains happening to you?

[2020-11-26 11:12] #22 closed

[2020-12-08 18:57] Diego-Franco opened #24 "Use string instead of images for password field"
Right now in the Readme file you have
[code]

Where We need to pass an image when a password field is used, can we add new params and use strings (<Text> component) instead?  something like `Show and Hide` could be use it.

[2020-12-08 19:13] Cnilton commented on #24
Hi @Diego-Franco,  I'll be adding this in the next version, ok? Soon, I'll close this with this functionality.

[2020-12-08 19:43] Diego-Franco opened #25 "Overriding onBlur and onFocus blocks label animation"
Using:
[code]

it blocks the animation for the label and it doesn't move at all

<Img src="https://user-images.githubusercontent.com/5623933/101533198-62083400-394a-11eb-9adc-b2850b1a29e3.gif" width=500/>

[2020-12-08 21:09] Diego-Franco opened #26 "LabelStyle is overriden either if we use custom values"
Right now, if I use LabelStyle with CustomLabelStyles the custom values are override by the defaultt values we have in the code. let me explain:

the code for style (LabelStyle) looks like:
[code]

We need to move `...labelStyles and ...setGlobalStyles?.labelStyles` to the top and then override with custom values if we have it. Something like:

[code]

this is a problem if we have labelStyles wher

[2020-12-09 00:56] Diego-Franco opened #27 "Floating Label is not centered in the container"
Looks like the Floating label is not center either if We pass styles or we use the default values.

As we can see in the "login" input is still not centered

![Screen Shot 2020-12-08 at 4 48 09 PM](https://user-images.githubusercontent.com/5623933/101559161-6bf35c80-3975-11eb-92d6-276811b04857.png)

Code for the previous image:
[code]

Styles code:
[code]

[2020-12-09 01:25] Diego-Franco opened #28 "Predefined Value in the TextInput Field don't trigger the animation for the label"
This one is easy to reproduce, if you use:
[code]

the value is overlapping the label, and the label doesn't animate if the value exists in the component

![Screen Shot 2020-12-08 at 5 22 39 PM](https://user-images.githubusercontent.com/5623933/101561420-2a18e500-397a-11eb-8cc8-44097da5a162.png)

[2020-12-09 17:19] Cnilton commented on #28
Hi @Diego-Franco, can you please check the new version 1.2.13 if this is still occurring? This is a regression from the last update I made before.

[2020-12-09 17:19] Cnilton commented on #27
Hi @Diego-Franco, can you please check and test the new version 1.2.13?

[2020-12-09 17:20] Cnilton commented on #26
Hi @Diego-Franco, in the new version this was fixed. Thanks

[2020-12-09 17:20] #26 closed

[2020-12-09 17:22] Cnilton commented on #25
Hi @Diego-Franco, can you please test with version 1.2.13? Thanks

[2020-12-09 17:24] Cnilton commented on #24
Can you please check out the new props that were added in version 1.2.13? Everything you need to know is in the README.md, so you can just open this lib homepage and check 🎉🎉

[2020-12-09 19:11] Diego-Franco commented on #28
I can say this is still happening 😞 some times is not displaying the value and if the animation is triggered the floating label goes all the way out of the container

![Screen Shot 2020-12-09 at 11 09 22 AM](https://user-images.githubusercontent.com/5623933/101675841-2f743f00-3a0f-11eb-9b28-2ace3cf24e40.png)

[2020-12-09 19:13] Diego-Franco commented on #24
This is working now, thank you!

[2020-12-09 19:13] #24 closed

[2020-12-09 19:20] Diego-Franco commented on #25
This is working in 1.2.13 🎉

[2020-12-09 19:20] #25 closed

[2020-12-09 19:23] Cnilton commented on #28
Are you sure it's not the customLabelStyles that are making this behavior? Can you please try without the customLabelStyles? Or at least provide it here for me to reproduce it.

[2020-12-09 19:24] Diego-Franco commented on #27
this is fixed in 1.2.13, thank you @Cnilton

[2020-12-09 19:24] #27 closed

[2020-12-09 19:37] Diego-Franco commented on #28
you're right it was the CustomLabelStyles causing the problem, but the floating label is still going outside of the container
![Screen Shot 2020-12-09 at 11 35 34 AM](https://user-images.githubusercontent.com/5623933/101678478-d7d7d280-3a12-11eb-984e-5f3c95e3c794.png)

[2020-12-09 19:43] Diego-Franco opened #29 "Add left component to the floating input"
It would be nice if we can add a left component to the floating input, then we can create components like:

![Screen Shot 2020-12-09 at 11 42 20 AM](https://user-images.githubusercontent.com/5623933/101679165-ca6f1800-3a13-11eb-846c-2dc5183a5122.png)

[2020-12-09 20:01] Cnilton commented on #28
Okay, can you please post for reproducibility test your FloatingLabel Component?

[2020-12-09 20:02] Cnilton commented on #29
Hi @Diego-Franco, that is a good idea, I'll add this feature in the next version. Thanks

[2020-12-09 20:08] Diego-Franco commented on #28
Here's my code
[code]

my custom_label_style and container style:
[code]

[2020-12-09 21:02] Diego-Franco opened #30 "Make Component Props public"
Right now we have `interface Props` in the component, if people is going to use this component and want to extends from this, we should be able to export the props instead of copying in the code.

We have: `interface Props extends TextInputProps `

We can create: `export interface FloatinLabelInputProps extends TextInputProps`

[2020-12-09 21:29] Cnilton commented on #30
Hi @Diego-Franco, I see your point. Is this really useful on a Typescript project?

[2020-12-09 21:31] Cnilton commented on #28
Thank you, I'll confirm reproducibility and debug this.

[2020-12-09 22:06] Diego-Franco commented on #30
yes, I think is useful, instead of creating a copy of the props you have in the lib, I can create something like:

type InputField extends FloatinLabelInputProps {
... extraProps
{

and I'll have the TextInputProps too for free

[2020-12-09 22:17] Diego-Franco opened #31 "Enable autoFocus for InputComponent"
Right now we have `setFocus` function, but we don't have a way to set autoFocus for the input field, we can added because we have the TextInput props.

[2020-12-09 23:32] Cnilton commented on #31
Hi @Diego-Franco, you already can use the *autoFocus* prop. Try it out!

[2020-12-09 23:49] Cnilton commented on #28
Sorry, but I'll need more info.. with the provided data, I couldn't reproduce the bug.

<img src ="https://i.imgur.com/BzJxXig.gif" width="40%"/>

[code]

[2020-12-10 00:41] Diego-Franco commented on #28
you have to set value, if you change value="this is a value" you will see the problem

[2020-12-10 00:42] Diego-Franco commented on #31
sorry, that's true, I forgot about the TextInputProps, I'll close this

[2020-12-10 00:42] #31 closed

[2020-12-10 11:37] Cnilton commented on #28
I see. Indeed you were right, there was one place where I forgot to divide by 2 the animated height. Could you please test version 1.2.14? Thanks!

[2020-12-10 11:38] Cnilton commented on #30
Can you please try it out on version 1.2.14? Thanks in advance!

[2020-12-10 19:30] Diego-Franco commented on #30
I think you forgot to make it public, you just added export in the index

[2020-12-10 21:16] Cnilton commented on #30
Hmm, I see. I'll fix it in the next version. Thanks!

[2020-12-10 22:47] Cnilton commented on #30
@Diego-Franco, can you please test version 1.2.15?

[2020-12-10 23:56] Diego-Franco commented on #28
this is fixed!

[2020-12-10 23:56] #28 closed

[2020-12-10 23:59] Diego-Franco opened #32 "Use hint prop when non staticLabel is use it"
Right now, the prop `hint` is only use it when staticLabel is used in the code, we can use hint too when we use the normal floating label, for example:

Entering a date or birth we should display `date of birth` in the label and the hint could be `mm/dd/yyyy` to explain the users the input format.

[2020-12-11 00:13] Diego-Franco commented on #30
this if fixed! Thank you!

[2020-12-11 00:13] #30 closed

[2020-12-11 01:42] Diego-Franco opened #33 "Using isPassword=true doesn't trigger animation when the input field trigger onBlur"
I was testing and looks like, when We use isPassword={true} the animation when the field is onBlur is not working. The label is still on the top of the container and is not returning to the correct position

[2020-12-11 01:56] Diego-Franco opened #34 "Typescript issue with opacity value"
in the Line 350, we have opacity props, in Typescript is returning a warning, this is the warning:

[code]

[2020-12-11 11:20] Cnilton commented on #33
Hi @Diego-Franco, can you please show the code for reproducibility? A .gif would be great too!

[2020-12-11 11:24] Cnilton commented on #32
Hi @Diego-Franco, if `hint` was available when it isn't `staticLabel` we would have overlapped label and hint. What do you suggest in that case? Showing the hint when the input is focused and has no text? I don't think that is quite useful.

[2020-12-11 11:36] Cnilton commented on #34
Hi @Diego-Franco, actually opacity accepts both `AnimatedInterpolation` and `Animated.Value`. I don't know how to fix it unless to ask typescript maintainers to update it.

[2020-12-11 17:33] Diego-Franco commented on #32
Yes, it was I suggest, then we can create something like:
![Screen Shot 2020-12-11 at 9 32 11 AM](https://user-images.githubusercontent.com/5623933/101935433-f1545800-3b93-11eb-94c2-42fbb4cce6da.png)

[2020-12-11 17:35] Cnilton commented on #32
Ok, I'll add this soon then!

[2020-12-11 17:54] Diego-Franco commented on #33
![github_issue](https://user-images.githubusercontent.com/5623933/101937174-5c9f2980-3b96-11eb-802a-3f78b69c5fa1.gif)

password field code:
[code]

first input field:
[code]

[2020-12-11 21:26] Diego-Franco commented on #34
are you sure? let me explain better, we have:

[code]
Where TextStyle extends from ViewStyle, and if you take a look to the @types/react-native ViewStyle interface, you can see, they have `opacity?: number`. Not sure if you got the same error in your side.

Here's a screenshot:
![Screen Shot 2020-12-11 at 1 24 39 PM](https://user-images.githubusercontent.com/5623933/101956446-7bacb400-3bb4-11eb-9e

[2020-12-11 23:17] Diego-Franco commented on #34
PR created!

[2020-12-12 12:44] #34 closed

[2020-12-12 12:55] Cnilton commented on #33
Sorry, but I couldn't reproduce this. Code:

[code]

<img src="https://i.imgur.com/bKZ91yc.gif" width="40%"/>

[2020-12-12 16:52] Cnilton commented on #32
Can you check version 1.2.16?

[2020-12-12 16:53] Cnilton commented on #29
Feature added in version 1.2.16 🎉🎉. Can you please test it?

[2020-12-12 19:34] Diego-Franco commented on #32
this if fixed!

[2020-12-12 20:19] Cnilton commented on #29
I didn't understand what you mean by extra padding. Can you clarify what is the issue?

[2020-12-14 17:36] Diego-Franco commented on #33
This was an issue on my side, sorry for this!

[2020-12-14 17:36] #33 closed

[2020-12-14 17:53] Diego-Franco commented on #29
it looks like it was the styles, we're good! Thank you!

[2020-12-14 17:53] #29 closed

[2020-12-15 21:34] Diego-Franco opened #36 "Label animation is not smooth"
This is more a question/request, right now when the input field is not focused and gain the focus, we're just changing the fontSize of the label and then we use translateX and translateY.

could be possible to add a scale for the fontSize? then the animation will look smoother.

I'm trying to make it work on my side, but if anyone can help with this too would be nice

[2020-12-15 22:53] Cnilton commented on #36
Hi @Diego-Franco, actually I was thinking of adding animation to the *fontSize* recently, but this week has been a little rough so I didn't have the time. I'll see if this weekend I can work on it. Thanks for the observation!

[2020-12-21 16:56] Diego-Franco commented on #36
Do we have any update? Also are you planning to use the animated api from reach native or are you planing to change to a different approach?

[2020-12-25 22:29] Cnilton commented on #36
Hi @Diego-Franco, can you please test version 1.3.0?

[2020-12-26 11:52] tcagkansokmen opened #38 "Currency format not working well"
I'm typing "100" and It stucks on "1,00" format.
(I make currencyDivider=".")

To change 1,00 to 100,00, I have to click on begining of the input and start typing.
But that's not good for UX.

How can I use it well?

[2020-12-27 00:17] Cnilton commented on #38
Hi @tcagkansokmen, I couldn't see any problem trying to reproduce...
What I tested: input 1, then 0, then 0, resulted in 100
[code]

May you please provide some code for reproducibility?

[2020-12-27 13:40] Cnilton opened #39 "Change gifs in Readme.md with new animations and features"
Hi, anyone who could help me change all the gifs would be a great deed. Any doubts, just comment below.

[2020-12-29 18:07] Cnilton commented on #36
I'm closing this issue due to no response.

[2020-12-29 18:07] #36 closed

[2020-12-30 01:26] Franklyn-S opened #40 "Problemas com leftFocused & topFocused"
leftFocused & topFocused não fazem sentido se staticLabel for true, por que só teria left e top, não existiria focused nesse caso.

leftFocused & topFocused não funcionam no customLabelStyles se staticLabel for false, caso default dele.

[2020-12-30 17:25] Cnilton commented on #38
@tcagkansokmen, can you please elaborate so I can understand the bug?

[2020-12-30 19:54] Cnilton commented on #40
Oi @Franklyn-S, você pode mostrar um exemplo? Não consegui reproduzir esse problema na versão atual desta biblioteca. Você confirmar também a versão que está utilizando?

[2020-12-31 17:37] Franklyn-S commented on #40
Deixa pra lá, deu certo, era só pq tinha que recarregar a aplicação

[2020-12-31 17:37] #40 closed

[2021-01-04 19:17] Diego-Franco commented on #39
do you want a gif for all the options? or just the new ones, if we can list the features would be nice

[2021-01-04 22:47] Cnilton commented on #39
I don't know what would be best... Probably every single one, using the code reproducibility that is used below every gif.

[2021-01-04 22:48] Cnilton commented on #38
I'll be closing this issue due to no response.

[2021-01-04 22:48] #38 closed

[2021-01-05 01:38] Diego-Franco opened #42 "Label tap focus issue"
If we have two input fields in the same screen, and we tap in the label the first is focused, but if we try to focus the second one tapping in the label, the second input field is not focused immediately

it could be possible we need to do some logic in our side instead, but it was weird this is not happening if we click in the container (input box)

using the sample from the ReadMe

[code]

https

[2021-01-06 19:21] tcagkansokmen opened #45 "How to add touchableopacity inside FloatingLabelInput?"
I want to Add "X" button inside input, but It doesnt allow it.
How can this be possible?

How can I add it inside?
Left component ok, but I need right component for that.

[2021-01-06 21:38] Cnilton commented on #45
Hi @tcagkansokmen, I could add a *rightComponent* prop for that purpose. But now I have a doubt: how would it be if you were using a password-like input? I think this *rightComponent* should be "before" the show/hide component, right?

[2021-01-07 06:54] tcagkansokmen commented on #45
Yeah It could be, but I guess, we don't use rightcomponent with "show/hide component" at the same time. But I guess yeah, It must be before that.

[2021-01-07 11:31] Cnilton commented on #45
I agree. In this weekend I'll be checking all issues and pull requests and I'll add this prop.

[2021-01-08 19:41] Diego-Franco opened #46 "Add prop for show/hide password passing a prop"
Imagine we have a password field filled by default, and you want to show/hide when you present it into the screen, this probably is a unique case, but could be use it for different situations

[2021-01-09 13:38] Cnilton commented on #42
Hi @Diego-Franco, maybe it's a bug reproducible only in the simulator? I couldn't reproduce it even on my simulator using your exact case. Can you confirm if this issue is happening on a real device?

[2021-01-09 15:53] Cnilton commented on #46
Hi @Diego-Franco, can you please check version 1.3.2 with the new props? Thanks!

[2021-01-09 15:54] Cnilton commented on #45
Hi @tcagkansokmen, can you please check the new version 1.3.2 with this new prop?

[2021-01-09 21:33] Diego-Franco commented on #42
it is happening in a real device, I tried on android and on iOS, this happens when you click in the label not in the container

[2021-01-09 22:24] Cnilton commented on #42
I couldn't reproduce it with the provides code.. can you please provide the exact case you saw this bug?

[2021-01-11 19:32] Diego-Franco commented on #42
Here is the video, I'm using the same code as I posted before, I just enable the touches in the video to show when I click in the label

https://user-images.githubusercontent.com/5623933/104229059-92873600-5400-11eb-953e-af172044417d.mov

[2021-01-11 19:33] Diego-Franco commented on #46
it works, thank you!

[2021-01-11 19:33] #46 closed

[2021-01-12 09:51] #45 closed

[2021-01-13 20:29] free4mOriginal opened #47 "`fontSize` and `fontColor` not being recognized in `labelStyles` and `inputStyles` props"
Before I start complaining, this is a great package that really filled a void for us.
However there are two seemingly minor but very problematic issues.

1) Problem with some styles in the `labelStyles` prop not being recognized:

Here's our component code :
[code]

The fontFamily in the `labelStyles` prop is being read correctly, but the `fontSize` and `color` attributes are not reflected in the

[2021-01-14 21:41] Diego-Franco commented on #47
for the label style you have the CustomLabelStyle props, where you can pass the colorBlurred and colorFocused,

for the input, you can pass the prop as you're doing it now

[2021-01-14 22:49] free4mOriginal commented on #47
Thank you!
The `colorBlurred` and `fontSizeBlurred` worked.

[2021-01-15 00:58] Diego-Franco commented on #47
no problem, if that help you and solved your issue, feel free to close this

[2021-01-15 01:09] #47 closed

[2021-01-18 20:15] Cnilton commented on #42
Sorry @Diego-Franco, past weekend I couldn't test this. Soon I'll look into it.

[2021-01-22 12:14] sinclaireric opened #49 "not working with reanimated2"
when using reanimated2 the app crash,
**animated node with id 2 already**
 please make a version with reanimated2 dependency

[2021-01-22 16:41] Cnilton commented on #49
Hi @sinclaireric, this weekend I'll look into it.

[2021-01-22 17:58] sinclaireric commented on #49
thank , i'm waiting

[2021-01-24 11:24] nipek commented on #42
I am having this issue where input won't focus when text input has value set by default @Cnilton ,

[https://drive.google.com/file/d/1t6_tBwG3Two8Led-wB6d6YUuyv38KBE3/view?usp=sharing](url)

[2021-01-24 13:09] Cnilton commented on #49
Hi @sinclaireric, unfortunately, I couldn't find a way to make it work with both versions.. there are some steps in react-native-reanimated2 that do not allow the lib to use both versions, which is the babel.config.js where the plugin must be set. I'm sorry but I can't release as default the react-native-reanimated2 because it is still on alpha, and Software-Mansion even said other things may chan

[2021-01-24 13:13] Cnilton commented on #42
Hi @nipek, sorry but I couldn't reproduce your error. Can you post the code for reproduction?

Also, @Diego-Franco, I still can't reproduce this.. couldn't it be some error on your onFocus or onBlur functions?

[2021-01-24 13:36] sinclaireric commented on #49
ok thank

[2021-01-24 20:48] antoinebrtd opened #50 "Label behavior issue with text"
Hello @Cnilton,

I'm using the latest version and I have issues with the label overlapping on the text both on ios and android (see videos), especially on ios where the label goes below and then on top of the text. Wouldn't it be preferable to remove the animation when the text input is filled?

Also label is focused when the text is empty (see picture).

Thanks

![142293570_1488179231387871_65361

[2021-01-25 03:10] Cnilton commented on #50
Hi @antoinebrtd, today while testing I could reproduce this, and I think I know why it is behaving like that. I'll work on it ASAP.

[2021-01-26 21:32] matty2d2 opened #51 "Default show/hide-password image conflicting with custom behaviour."
@Cnilton - Here on line 457 this is what is currently in index.tsx:

[code]

On line 459 we have our customShowPasswordImage but if it doesn't exist we have the 'makeInvisible' default image. This is conflicting, they should both be an image to 'show password'. Consequently lines 460, 462, 463 should change too.

Proposed changes:
[code]

[2021-01-26 23:19] Cnilton commented on #51
Hi @matty2d2, this makes sense, can you please make a pull request?

[2021-01-27 00:24] Cnilton commented on #51
thanks!

[2021-01-27 00:24] #51 closed

[2021-01-27 00:24] Cnilton commented on #50
Hi @antoinebrtd, can you please test the new version?

[2021-01-27 00:26] Cnilton commented on #42
@nipek, @Diego-Franco, can you please provide a response?

[2021-01-27 01:13] Diego-Franco commented on #42
I'm able to reproduce with no problem, either if I don't have onFocus or onBlur the issue still there, this only happens when you click the label, not the input area, so not sure if you can validate again

[2021-01-27 12:15] Cnilton commented on #42
Still can't reproduce here on my side.. see video please:

https://i.imgur.com/vxxP2gb.gifv

[2021-01-27 20:20] Diego-Franco commented on #42
wonder if could be only iOS related issue 🤔 do you have a way to validate that?

[2021-01-27 23:49] antoinebrtd commented on #50
Hi @Cnilton, tested on v1.3.4 and the issue still persists. Label still moves on mounted when there is some text, and label is focused on mounted when the text is empty

[2021-01-28 00:17] Cnilton commented on #42
No, I don't 😓. I can't test iOS, because I don't own a Macbook.. Does this issue occur in android? Because previously you said you tested on both iOS and Android and I understood this issue was occurring on both.

[2021-01-28 00:24] Cnilton commented on #50
@antoinebrtd, I didn't understand what you mean about the issue. If you mean that the label appears overlapped with the value (when input starts with an initial value), there is a solution to this in the README.md, just using backgroundColor in labelStyles. The issue I said I found was that the label was translating down and then up when the input has an initial value.

[2021-01-28 01:09] Diego-Franco commented on #42
I tested on a real device on Android and was happening, I didn't change any code, not sure if you would see something diff between simulator and real device

[2021-01-28 13:53] Cnilton commented on #42
Tested on my Android, clicking on label, still can't reproduce:

[code]

<img src="https://i.imgur.com/NmNt5KA.gif" width="40%"/>

[2021-01-28 20:19] Diego-Franco commented on #42
So weird, but I can say is happening on iOS, I don't see anything wrong with the code, can we leave this open until we can get more help. I tried to fix it, but is not working :(

[2021-01-28 21:05] Cnilton commented on #42
Yeah, very weird.. okay, I'll leave this open while we can't get a hold of why is this happening. But one question: were you able to reproduce with my example?

[2021-01-29 00:03] Diego-Franco commented on #42
Yes, using your code, and clicking in `Some label` I'm able to reproduce, when I click on Some label the first one lost the focus but the second one does nothing, just hide/close the keyboard

[2021-01-29 11:59] Cnilton commented on #42
I see.. what version of Android are you using? My test case with a real device was using Android 11, and the test case with the simulator was using Android 10.

[2021-01-29 19:42] Diego-Franco commented on #42
Same for me, Android 11 in my Pixel 4XL and yes I'm using the last update for the library, in iOS the version is 12.4.

[2021-01-30 04:29] tcagkansokmen opened #53 "Possible to push input when open keyboard?"
Not the whole page, only push if focused input stuck under the keyboard.

Is that possible and how?

[2021-01-30 13:45] Cnilton commented on #53
Hi @tcagkansokmen, for achieving this I suggest you use react-native-keyboard-aware-scroll-view or the react-native native KeyboardAvoidingView.

[2021-01-31 00:54] #53 closed

[2021-02-01 12:25] Cnilton commented on #50
@antoinebrtd can you please post some explanation?

[2021-02-01 22:02] antoinebrtd commented on #50
@Cnilton the label is focused even with no text (see the picture I attached to this post). Other issues on IOS seem fixed, thank you

[2021-02-01 22:06] antoinebrtd commented on #50
See attached video for more explanation

https://user-images.githubusercontent.com/34452191/106523735-8e09e680-64af-11eb-9e5f-55cfb7e78c37.mp4

[2021-02-02 00:11] Cnilton commented on #50
I see, are you overriding the onBlur/onFocus methods? Can you please show the code for reproducibility?

[2021-02-02 21:46] antoinebrtd commented on #50
I am not. I think the issue lies in the fact that the initial `value` prop is `null`. Works fine with an empty string, I'll change on my side. You can close the issue :)

[2021-02-03 11:10] seyaobey opened #54 "How to remove border and keep only underline bottom border"
Hi. I've just discovered your component. On your home page you are displaying simple usages of this component.
I'm trying to get `this` look (just the underline bottom border):

![image](https://user-images.githubusercontent.com/2738569/106738746-9d587380-6618-11eb-99bf-4bc4185d76ce.png)

The default look of the component is the full border. Is there a flag I should toggle or should I apply some s

[2021-02-03 11:59] Cnilton commented on #50
Ok, yes that was the issue, after all this lib is based on a TextInput, and initial value should always be a string. Thanks!

[2021-02-03 11:59] #50 closed

[2021-02-03 12:04] Cnilton commented on #54
Hi @seyaobey, I see that removing default styling isn't very clear at first. I shall create a *noDefaultStyle* prop for this. But currently the way to make it work is to you just declare the styles that you want to override, for example the containerStyle, if you use this prop, the borders will go away.

[2021-02-03 12:35] AasimuddinM opened #55 "while navigating with data and setting value as params data animation is not working"
i navigation to screen with data and and setting this params data as value prop to floating input but majorly label is not animating to upside sometimes its working
![File](https://user-images.githubusercontent.com/70324804/106747859-71ee7c80-664a-11eb-89c5-a55fe11581f5.jpg)

[2021-02-03 13:02] Cnilton commented on #55
Hi @AasimuddinM, are you using the onFocus/onBlur props, or are you setting the initial value of the input as null? Can you please provide the code you used for me to try to reproduce it?

[2021-02-03 14:45] seyaobey commented on #54
@Cnilton thansk for your reply. Just to let you know I tried to apply a custom style to `containerStyles` to keep only the bottom border. And I've observed 2 thinks (maybe I'm not good at styling...):

1. The border color seems to have changed
2. The floating label position messes up with the input text.

This is my custom style:
[code]

And here is screen of what I'm seeing (2 components with cus

[2021-02-03 19:11] Cnilton commented on #54
So, when you use the containerStyles, the way it works is that the prop is overridden, so all default styles from containerStyles will not take effect, so that's why the border color changes and the container height changes too. So you have to add in containerStyles those styles. Example: ```containerStyles={{borderColor="#123", height=50}}```

[2021-02-07 12:29] Cnilton commented on #54
I'm going to close this, but feel free to open another issue for questions. Thanks!

[2021-02-07 12:29] #54 closed

[2021-02-08 20:16] Cnilton commented on #55
@AasimuddinM can you please answer my previous questions?

[2021-02-16 13:19] Cnilton commented on #55
Closing this issue due to no response.

[2021-02-16 13:19] #55 closed

[2021-02-18 08:23] Uzef1997 commented on #25
I am using 1.3.4 still getting same issue

https://user-images.githubusercontent.com/45681786/108326762-a50b4100-71f0-11eb-818f-851432008dd9.mov

[2021-02-18 08:30] Uzef1997 opened #56 "while using onBlur and onFocus events it blocks the label animation"
https://user-images.githubusercontent.com/45681786/108326762-a50b4100-71f0-11eb-818f-851432008dd9.mov

_Originally posted by @Uzef1997 in https://github.com/Cnilton/react-native-floating-label-input/issues/25#issuecomment-781146031_

[2021-02-18 11:37] Cnilton commented on #56
Hi @Uzef1997, are you using the the isFocused prop as well? Can you please show your code for reproducibility?

[2021-02-20 18:50] Leijoma opened #57 "Vertically aligning text in multirow field"
Hi
Maybe it's just me not understanding how to do it, but i can not make the text in a multiline input field align top. It is always centered vertically. How can i adjust this?

[2021-02-20 20:13] Cnilton commented on #57
Hi @Leijoma, I didn't quite understand your question. The default behavior when setting multiline to the floating-label-input is what you described, see the following code and image:

[code]

<img src="https://i.imgur.com/iEunDCl.png" width="40%"/>

[2021-02-20 20:18] Leijoma commented on #57
Thanks for the quick response! I will go back to the drawing board and try to figure out what i'm doing wrong...

[2021-02-20 20:35] Leijoma commented on #57
OK, It happens when i try to set the height of the inputfield by setting a height value in containerStyle. How do you set the height of the inputfield in your example above?

[2021-02-20 20:58] Cnilton commented on #57
I didn't set any height to the input. When I skip a line it increases the height automatically. What you can do is set maxHeight.

[2021-02-20 21:01] Leijoma commented on #57
OK, but is it possible to assign it a min height as well?

[2021-02-20 21:26] Cnilton commented on #57
Just use something like: inputStyles={{minHeight:80}}

[2021-02-20 21:28] Leijoma commented on #57
Thank you so much! Working now.

[2021-02-20 22:36] #57 closed

[2021-02-22 00:22] Cnilton commented on #56
@Uzef1997 can you please answer my previous questions?

[2021-02-24 12:47] Cnilton commented on #56
Closing this due to no answer.

[2021-02-24 12:47] #56 closed

[2021-03-09 08:50] Ubax commented on #49
Hi @Cnilton
Reanimated 2 is officially released now.
Could you create a release for it?

[2021-03-15 10:30] Ubax opened #59 "Upgrade reanimated to version 2"
I propose reanimated upgrade to version 2. To do that all usages of `Easing` have to be changed into `EasingNode`. To keep compatibility I would propose to publish
- library for reanimated 2 as 2.x.x
- library for reanimated 1 as 1.x.x.

This way it would be possible to use it with both versions.

Additionally I think it would be a good idea to clean the released files - delete:
- eslint config
-

[2021-03-15 10:30] Ubax commented on #59
I created a PR for that #58.

[2021-03-15 11:35] Cnilton commented on #59
Hi @Ubax, thanks for your contribution. I'll test it out and then release a new version.

[2021-03-15 19:56] Cnilton commented on #59
Hi @Ubax, please try version 1.3.5 following the guide within the README.md.

[2021-03-15 19:57] Cnilton commented on #49
Hi guys, could you please try version 1.3.5 following the guide from README.md?

[2021-03-18 09:56] Ubax commented on #49
HI @Cnilton
It works in our project.
Thanks

[2021-03-18 09:57] Ubax commented on #59
HI @Cnilton
It works in our project.
Thanks

[2021-03-18 11:35] #49 closed

[2021-03-18 11:35] #59 closed

[2021-03-18 12:33] coucoseth opened #60 "conflicts with react-native-reanimated"
Animated node with ID 2 already exists, thats the error i get whenever i try to use this package in my react native project already having the react-native-reanimated package. something about two instances of reanimated

[2021-03-18 13:18] Cnilton commented on #60
Hi @coucoseth, are you using this lib at version 1.3.5? If so, if in your project you are using react-native-reanimated v1, it will happen, unfortunately... For resolving this issue, you should or install react-native-floating-label-input@1.3.4, or install and use react-native-reanimated v2. The guideline for installing react-native-reanimated v2 is within the README.md.

[2021-03-18 13:23] tborowy opened #61 "TypeError: null is not an object (evaluating '_ReanimatedModule.default.createNode')"
If I try use that library i have error and my whole app not work.
 `TypeError: null is not an object (evaluating '_ReanimatedModule.default.createNode')`

I trying v 1.3.5 with reanimated v2 and old 1.3.4 with reanimated v1

[2021-03-18 14:03] Cnilton commented on #61
Hi @tborowy, if you want to use version 1.3.5, you have to use reanimated v2. For using the reanimated v2 you have to follow the extra steps for reanimated v2 installation, which are within the README.md. As I stated in the README.md if you have some trouble building your app, try removing node_modules folder, and running yarn or npm install.

[2021-03-19 07:32] coucoseth commented on #60
i am running react-native-floating-label-input@1.3.4 and react-native-reanimated v2 and still getting the same error

[2021-03-19 08:24] vandiepbui opened #62 "No podspec file was found."
I install version ^4.2.0 and when pod install, I receive this message.
use_native_modules! skipped the react-native dependency 'react-native-floating-label-input'. No podspec file was found.
    - Check to see if there is an updated version that contains the necessary podspec file
    - Contact the library maintainers or send them a PR to add a podspec. The react-native-webview podspec is a good e

[2021-03-19 11:30] Cnilton commented on #62
Hi @vandiepbui, I didn't understand... there is no 4.2.0 version of this lib. Can you please explain again?

[2021-03-19 11:32] Cnilton commented on #60
But that's what is going wrong, as you see in the README.md, if you have this lib at version 1.3.4 you should have react-native-reanimated@1.13.2. Could you please try installing this version of reanimated?

[2021-03-19 12:40] Cnilton commented on #42
Hi @Diego-Franco, can you still reproduce this issue on version 1.3.5?

[2021-03-23 19:21] Cnilton commented on #60
@coucoseth, can you please provide an answer?

[2021-03-24 09:11] vandiepbui opened #63 "Can't disabled input when it contains default value"
Hi,
I used editable={false} and selectTextOnFocus={false} but it doesn't work if input was set default value (I set default value from previous screen props at mounted using UseEffect)

Please help me to check this case. thanks so much

[2021-03-24 09:13] #63 closed

[2021-03-25 13:26] Cnilton commented on #62
Closing this due to no answer.

[2021-03-25 13:26] #61 closed

[2021-03-25 13:26] #60 closed

[2021-04-05 12:19] Leijoma opened #65 "Placeholder placement in multiline input get centered"
When having a multi line input field with a height setting to more than one row, the placeholder text is vertically centered. It needs to be aligned top to look good.
![simulator_screenshot_B9EDC6F8-08AD-476E-9540-23E1231552F0](https://user-images.githubusercontent.com/59127833/113573214-f7c28000-9619-11eb-90b5-ae4db3d23f5a.png)

[2021-04-05 12:51] Cnilton commented on #65
Hi @Leijoma, you can override this by using ***customLabelStyles*** prop and setting the distance from the top you want the label to be when blurred and when focused.

[2021-04-05 14:25] Leijoma commented on #65
That's great, but what property do i use to achieve that?

[2021-04-05 15:38] Leijoma commented on #65
Got it!
  customLabelStyles={{ topBlurred: -25}}

[2021-04-05 15:38] #65 closed

[2021-04-06 14:35] coucoseth commented on #60
your solution works, thank you

[2021-04-12 10:55] harshal311989 opened #66 "Textinput text overlap in Android Modal"
Hi team, i used thi splugin for floating effect in my textinput and i used it latest version 1.3.5 but i afce issue like when i have pre defined text in textinput it will be overlap like below screenshots

![Android](https://user-images.githubusercontent.com/75067288/114384063-dfb7a700-9bab-11eb-882b-daca888977cd.png)

My code as below

<FloatingLabelInput
   label={textTranslation.shippingAddress

[2021-04-14 12:41] Cnilton commented on #66
Hi @harshal311989, thanks for using this lib, and already giving the code for reproducibility. I'll test this and answer later, ok?

[2021-04-14 14:00] harshal311989 commented on #66
Ok @Cnilton

[2021-04-17 13:49] Cnilton commented on #66
@harshal311989, sorry, but I couldn't reproduce your issue. Are you sure the code you provided is enough to reproduce this?

![evidencia](https://user-images.githubusercontent.com/40298250/115115341-5f59c300-9f6a-11eb-8901-bfc979713736.png)

![evidencia2](https://user-images.githubusercontent.com/40298250/115115356-83b59f80-9f6a-11eb-879d-8c658fce996a.png)

[2021-04-20 12:13] harshal311989 commented on #66
@Cnilton Render your textinput inside Modal then quickly open close modal with textinput at that time you will face issue on that .

[code]

[2021-04-21 04:52] harshal311989 commented on #66
@Cnilton any updates on this?

[2021-04-21 12:15] Cnilton commented on #66
@harshal311989, I'm sorry but I still couldn't reproduce the issue. Please see video and image below:

![untitled2](https://user-images.githubusercontent.com/40298250/115551855-0350b080-a282-11eb-8b27-7d360205c66e.gif)
![Sem título](https://user-images.githubusercontent.com/40298250/115551893-0b105500-a282-11eb-87de-7ab53845d214.png)

[2021-04-22 04:59] harshal311989 commented on #66
@Cnilton add value pre defined in textfiled like below then run I am sure you can able to reproduce Check my video file for your refernce

https://user-images.githubusercontent.com/75067288/115658049-a45c6b80-a355-11eb-9b15-21908fbbe2e3.mp4

`render(){
const {isModalVisible} = this.state;
return(
       <TouchableOpacity onPress={()=>{this.setState({isModalVisible: true})}}
            <Text>{'Ope

[2021-04-22 22:54] Cnilton commented on #66
@harshal311989, I could reproduce this issue now. Soon I'll release a new version to fix this!

[2021-04-23 07:03] harshal311989 commented on #66
ok @Cnilton

[2021-04-23 16:59] Cnilton commented on #66
@harshal311989, can you please try the newest version 1.3.7?  After fixing this issue with that version, I couldn't reproduce the issue anymore.

[2021-04-23 17:01] Cnilton commented on #42
@Diego-Franco, can you reproduce this issue on the latest version (1.3.7)?

[2021-04-26 10:15] harshal311989 commented on #66
OK @Cnilton let me try that version

[2021-04-27 06:11] harshal311989 commented on #66
@Cnilton I checked in 1.3.7 version it is resolved now. Thanks for your support

[2021-04-27 12:08] Cnilton commented on #66
@harshal311989, that's great! Thanks for the quick response, I'll be closing this then.

[2021-04-27 12:08] #66 closed

[2021-04-27 12:10] Cnilton commented on #42
Closing this due to no response and no reproducibility by me.

[2021-04-27 12:10] #42 closed

[2021-04-28 20:57] Bogzzz commented on #39
Hello, I am trying to use this library but it keeps crashing and giving an error
---TypeError: undefined is not an object (evaluating '_reactNativeReanimated.EasingNode.linear')
Saying the issues is in \node_modules\react-native-floating-label-input\src\index.tsx with code line 439
and  node_modules\react-native\Libraries\Renderer\implementations\ReactNativeRenderer-dev.js line 15561.
Can any one

[2021-04-28 21:01] Bogzzz opened #67 "TypeError: undefined is not an object (evaluating '_reactNativeReanimated.EasingNode.linear'"
Hello, I am trying to use this library but it keeps crashing and giving an error
---TypeError: undefined is not an object (evaluating '_reactNativeReanimated.EasingNode.linear')
Saying the issues is in \node_modules\react-native-floating-label-input\src\index.tsx with code line 439
and node_modules\react-native\Libraries\Renderer\implementations\ReactNativeRenderer-dev.js line 15561.
Can any one h

[2021-04-28 21:29] Cnilton commented on #67
Hi @Bogzzz, did you follow the instructions in the README.md? If you are using this lib at version 1.3.5 or higher you have to install react-native-reanimated v2.

[2021-04-28 21:30] Bogzzz commented on #67
yea im having difficulty installing V2 . im using Expo and every time i follow their steps. it installs 1.3.... something

[2021-04-28 23:02] Bogzzz commented on #67
I fixed it. Thank you

[2021-04-28 23:06] Cnilton commented on #67
Can you please comment on what was the issue?

[2021-04-28 23:10] Bogzzz commented on #67
The first issue was that my Expo was older release then what the ReanimatedV2 is asking for. So I had to reinstall Expo-CLI from scratch. Then I ran a npm install react-native-reanimated@2. Deleted Node Modules and ran npm install . And it seems to be working right now :)

[2021-04-28 23:10] Bogzzz commented on #67
Great job on the Library. ReanimatedV2 and Expo didnt do a good job on merging them together so far xD

[2021-04-29 07:42] harshal311989 opened #68 "Android and iOS device border textfiled need to lable and textinput center align"
Hello team, I am using this plugon in my project and i used rounded border textfield in my whole app. My actual UI is as below
![Screenshot 2021-04-29 at 12 04 14 PM](https://user-images.githubusercontent.com/75067288/116510788-19deb380-a8e3-11eb-8e66-ae410283c683.png)

But currently in my application i got below textfiled with bottom gap
![AA](https://user-images.githubusercontent.com/75067288/11

[2021-04-29 12:07] Cnilton commented on #67
Thanks! Thanks for your contribution as well, I'll be closing this issue then. Feel free to open an issue if you encounter any other bugs or have any other doubts.

[2021-04-29 12:07] #67 closed

[2021-04-29 13:04] Cnilton commented on #68
Hi @harshal311989, I tested the code you provided, and unfortunately I couldn't reproduce this issue that the input value isn't centered. Are you sure all styles set to that input in the image are listed? Are you sure that all these conditional paddings are necessary? Maybe you can add specific height to the containerStyles.

[2021-04-29 21:07] Bogzzz opened #69 "CSS Label color doesnt work"
Hello, Im having an issue with changing label color from blue to anything else ,as well as font size.
[code]
[What i get](https://imgur.com/DgMZdrT)

[2021-04-30 06:45] harshal311989 commented on #68
@Cnilton In your plugin style.js I make change code as below

export const styles = StyleSheet.create({
  container: {
    flexDirection: 'row',
    color: colors.darkWarmGrey,
    borderColor: colors.darkWarmGrey,
    borderWidth: 1,
    borderRadius: 30,
    paddingTop:(Platform.OS==='android') ? 0 : 5,
    paddingLeft:20,
    paddingRight:20,
    paddingBottom:(Platform.OS==='android') ? 0 : 5,

[2021-05-03 10:50] Cnilton commented on #69
Hi @Bogzzz, which version are you using? Also, did you try using the **customLabelStyles** prop?

[2021-05-03 15:42] Bogzzz commented on #69
using V1.3.7. and CustomLabelStyles prop is used for on Focus.

[2021-05-03 23:13] Bogzzz commented on #69
But I need it not on Focus

[2021-05-03 23:49] sritharIOS opened #70 "TextInput border color styles when OnFocus and onBlur state."
Please add this as a new feature.

Or please update in the readme if already this feature exists.

Because, If I do override the onFocus or onBlur prop, then the label is not going to top. Its sticks into the center.

[2021-05-03 23:57] sritharIOS commented on #70
this is working now. I missed these props. thanks a lot.

isFocused={isFocused}
              onFocus={() => {
                setIsFocused(true);
              }}
              onBlur={() => {
                setIsFocused(false);
              }}

[2021-05-03 23:57] #70 closed

[2021-05-04 19:30] sritharIOS opened #71 "Email validation"
Hi,

 How to use here for email validation and entry?

[2021-05-05 16:27] Cnilton commented on #71
Hi, this lib does not have an e-mail validation on its own, but you can implement it by yourself with the onChangeText prop. Do you need help setting it up?

[2021-05-05 16:29] sritharIOS commented on #71
Thank you @Cnilton  for your reply. I will try on my end and If not works, I need your help.

[2021-05-05 18:17] sritharIOS opened #72 "Custom Label animation speed"
Hi Author,

I would like to control the custom label animation speed. It looks slow. Please guide me on how to increase the speed of that one.

[2021-05-05 20:13] sritharIOS commented on #72
I got  animationDuration property to achieve that. thanks.

[2021-05-05 20:13] #72 closed

[2021-05-05 21:48] sritharIOS opened #73 "Custom Label top alignment"
Hi Author,

I need to align the label style with this screenshot.  But, the custom label is not aligned when I give marginTop or paddingTop. Can you please help me on this?

<img width="415" alt="Screen Shot 2021-05-05 at 3 45 43 PM" src="https://user-images.githubusercontent.com/16605998/117213602-12bf1600-adb9-11eb-8c18-eee89325a208.png">

[2021-05-05 22:09] sritharIOS commented on #73
this is done using topFocused prop. thanks.

[2021-05-05 22:09] #73 closed

[2021-05-05 22:15] Cnilton commented on #69
So @Bogzzz, actually you need to use:

[code]

This lib handles focus by itself if you do not use the **onFocus**, **onBlur**, and **isFocused** props.

Try that piece of code with the color you want. If you want the same color whether it is focused or not, just pass the same color..

[2021-05-05 22:26] Cnilton commented on #68
So @harshal311989, testing with the provided styles:

[code]

output the following:

![untitled (1)](https://user-images.githubusercontent.com/40298250/117217446-c3d4a900-add7-11eb-928e-74d47aeb1f6b.gif)

[2021-05-06 19:06] Bogzzz commented on #69
Thank you , it worked :)

[2021-05-06 20:38] Cnilton commented on #69
You're welcome! Feel free to open another issue if you need to!

[2021-05-06 20:38] #69 closed

[2021-05-07 10:06] coucoseth commented on #72
kindly document this, also real quick, how can i use this prop?

[2021-05-07 10:11] coucoseth commented on #56
incase you have this issue, add this prop `isFocused={false}`

[2021-05-07 10:16] coucoseth opened #74 "While using onBlur and onFocus the label animation works only after i start typing"
I included `isFocused={false}` and the label does not animate when focused, only when i start typing, help please? desired output is animation of label on focus

[2021-05-07 11:40] Cnilton commented on #74
Hi @coucoseth, as stated in the README.md, if you use the **isFocused** prop, you will have to handle the **onFocus** and **onBlur** props as well. Try using the isFocused with a state variable, like:

[code]

[2021-05-07 11:40] coucoseth commented on #74
instead of `isFocused={false}` i solved this by using a state variable `isFocused={isfieldFocused}` then in `onBlur` i set `isfieldFocused` to false and `onFocus` i set it to true

[2021-05-07 11:40] #74 closed

[2021-05-07 11:51] donjerick commented on #62
Hi @Cnilton, I'm also facing this issue when running `pod install` after installing via `yarn add react-native-floating-label-input`

Complete message:
`[!] use_native_modules! skipped the react-native dependency 'react-native-floating-label-input'. No podspec file was found.
    - Check to see if there is an updated version that contains the necessary
    podspec file
    - Contact the library ma

[2021-05-07 12:17] Cnilton commented on #72
Hi @coucoseth, animationDuration is set by miliseconds:
[code]

[2021-05-07 12:33] donjerick commented on #62
It does not throw error on build but the app crashes on the screen that has FloatingLabelInput element.

[2021-05-07 12:48] Cnilton commented on #62
I see... can you please try following these steps for stopping this issue from happening to your app:

[https://github.com/react-native-community/cli/blob/master/docs/autolinking.md#how-can-i-disable-autolinking-for-unsupported-library](url)

Unfortunately, I can't test this on iOS, but I'll try to fix this.

[2021-05-07 15:51] donjerick commented on #62
Disabling autolink for ios will just skip checking for podspec but still does not install the library in /ios/Pods thus the library will still not work on an ios app (UI freezes when the screen rendering FloatingLabelInput element/s gets called in the foreground).

This might help on the issue for podspec generation: https://github.com/brodybits/create-react-native-module

[2021-05-07 18:04] Cnilton commented on #62
Can you please test version 1.3.8?

[2021-05-07 21:57] donjerick commented on #62
Got an error:

Maybe forgot to update `package.json`?

[2021-05-08 17:42] Cnilton commented on #62
Yes, I've updated it now. Can you please test version 1.3.9?

[2021-05-08 23:25] donjerick commented on #62
Works well now at version 1.3.9. Thank you @Cnilton! 🚀

[2021-05-09 04:51] #62 closed

[2021-05-10 11:03] Cnilton commented on #71
@sritharIOS, any updates? Can we close this issue?

[2021-05-10 11:18] Cnilton commented on #68
@harshal311989, any updates?

[2021-05-10 20:36] sritharIOS opened #77 "Picker support"
Hi Author,

I want to implement the picker selection while clicking the text field. Please guide me to implement this one?

[2021-05-12 12:44] #68 closed

[2021-05-12 22:48] sritharIOS commented on #71
@Cnilton Fixed the issue:  const validate = text => {
    console.log(text);
    let reg = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w\w+)+$/;
    if (reg.test(text) === false) {
      console.log('Email is Not Correct');
      return true;
    } else {
      console.log('Email is Correct');
      return false;
    }
  };

[2021-05-12 22:48] #71 closed

[2021-05-13 05:32] harshal311989 commented on #68
@Cnilton  Sorry for late reply I chekced code and I also check my style and I use your latest version plugin and modify styles it is working now . Thanks for your support

[2021-05-14 14:04] lazarspasic96 opened #78 "Bug with label focusing"
<img width="128" alt="Capture" src="https://user-images.githubusercontent.com/44000018/118281580-aa191d00-b4cd-11eb-8553-fc00eba1d9c7.PNG">

When I run the application in development mode it works totally fine, but when I build a release app the label not work. It's the same with custom label styles and without. I deliver the default name value to the floating input. It's not an empty string when

[2021-05-15 13:15] Cnilton commented on #78
Hi, @lazarspasic96 can you please post those variables because without them I cannot reproduce the same environment of the issue described. Also, what is defined in the `...rest` prop?

[2021-05-17 04:43] vietcuong122 opened #79 "cannot toggle label color on focused v1.3.4"
I have override the onFocus/onBlur props, and handled isFocused as an state variable, but the color of label when focused not changed. Here is my code, hope to get your help.
![floatinglabelinput](https://user-images.githubusercontent.com/48023195/118433381-10d44b80-b705-11eb-9e52-8b4e56ab0b24.png)

[2021-05-17 08:29] lazarspasic96 commented on #78
`const FormInput = ({ field, label, value, onChange, keyboardType, autoCapitalize, isPassword,
                     customShowPasswordComponent, customHidePasswordComponent, errors, inputRef, ...rest }) => {

  const [isFocused, setIsFocused] = useState(false)`

  This is what my FormInput component receives as props. The res props is just for sending some additional props to the Floating label"

[2021-05-17 19:05] #77 closed

[2021-05-17 20:00] sritharIOS opened #80 "autoFocus prop"
I want to use the autoFocus property and set a default value when the page renders. How to achieve this one?

[2021-05-17 22:09] Cnilton commented on #77
Sorry @sritharIOS, I forgot to address this issue, but I don't think this component would have a nice usability.

[2021-05-17 22:11] Cnilton commented on #80
Hi @sritharIOS, I believe you can use the autoFocus as you want because this component extends Textinput props. To set a default value when the page renders, just initialize the state value used on the input with the value you want.

[2021-05-17 22:14] Cnilton commented on #78
Okay, I'll try to reproduce this issue. Can you inform the used version of this lib?

[2021-05-17 22:14] Cnilton commented on #79
Hi @vietcuong122, I'll try to reproduce this issue.

[2021-05-17 22:17] sritharIOS commented on #80
<img width="300" alt="Screen Shot 2021-05-17 at 4 15 39 PM" src="https://user-images.githubusercontent.com/16605998/118563062-20668b00-b72b-11eb-92e2-c6ac3b1da828.png">

I tried to set the state but custom label animation is not working. Please refer to the attached screen.

[2021-05-17 22:17] sritharIOS commented on #80
![Uploading Screen Shot 2021-05-17 at 4.17.54 PM.png…]()

[2021-05-17 22:18] sritharIOS commented on #80
<img width="502" alt="Screen Shot 2021-05-17 at 4 18 45 PM" src="https://user-images.githubusercontent.com/16605998/118563305-8fdc7a80-b72b-11eb-89d4-a0bfd4c66897.png">

[2021-05-18 07:16] lazarspasic96 commented on #78
Current version is 1.3.4

[2021-05-18 10:01] vietcuong122 commented on #79
Can anyone found this issue or the solved for this?

[2021-05-18 17:06] sritharIOS commented on #80
@Cnilton  This issue has been resolved while setting the value during the state initialization. Thanks for the idea.
  const [text, setText] = useState(defaultValue);

[2021-05-18 17:06] #80 closed

[2021-05-19 08:59] lazarspasic96 commented on #78
Any update on this? @Cnilton

[2021-05-19 12:45] lazarspasic96 commented on #78
@Cnilton Okay, thank you :)

[2021-05-23 03:06] Cnilton commented on #78
@lazarspasic96, I'm sorry, but I couldn't reproduce this issue. Code used:

[code]

and running with ```npx react-native run-android --variant=release```

for disabling animation use ```staticLabel``` prop.

[2021-05-23 03:25] Cnilton commented on #79
@vietcuong122, I'm sorry but using the following code I couldn't reproduce this issue.

[code]

[2021-05-24 16:01] louisholley opened #81 "can't set topFocused when using staticLabel={true}"
in the docs for staticLabel itsays:
"For changing the position of the label with this prop as true, use the customLabelStyles topFocused and leftFocused to adjust the wanted position"

but the implementation is like this:
[code]

so setting topFocused doesn't have any effect when using staticLabel={true}

[2021-05-24 16:55] Cnilton commented on #81
Hi @louisholley, yes you are right, but I don't think **staticLabel** should be used along with _topFocused_.. I will move the order for the _left_ and _top_ styles to have lower priority than **labelStyles** like:

{staticLabel && (
          <AnimatedText
            onPress={setFocus}
            style={[
              {
                left: labelStyles?.left
                  ? labelStyles?.l

[2021-05-25 08:09] louisholley commented on #81
@Cnilton sounds ideal man, let me know when you've made the change! thanks a lot

[2021-05-29 21:32] Cnilton commented on #79
@vietcuong122 any updates?

[2021-05-29 21:32] Cnilton commented on #78
@lazarspasic96 any updates?

[2021-05-31 14:21] lazarspasic96 commented on #78
@Cnilton I have not fixed it. Still didn't work in a release. You can close the issue, and I will reach out to you if I find out what the issue is.

[2021-05-31 16:49] Cnilton commented on #78
@lazarspasic96, ok I'll do so. Did you try running with ```npx react-native run-android --variant=release``` ?

[2021-05-31 16:49] #78 closed

[2021-06-02 23:05] Cnilton commented on #79
Closing this due to no answerq

[2021-06-02 23:05] #79 closed

[2021-06-14 12:56] fadiaIW opened #83 "autoCapitalize doesnt work"
Hey,
autoCapitalize does'nt seem to work. I'm using it like this :

<  FloatingLabelInput
                    label={'Email Address*'}
                    value={username}
                    onChangeText={(value) => setUsername(value)}
                    containerStyles={{ borderBottomWidth: 2, borderBottomColor: COLORS.primaryColor, paddingBottom: 10, paddingTop: 35 }}
                    custo

[2021-06-14 13:05] #83 closed

[2021-06-14 19:42] Cnilton commented on #83
Hi @fadiaIW, I see you closed this issue, were you able to workaround the issue?

[2021-06-15 06:01] fadiaIW commented on #83
Hey, yes, I restarted my Metro and the same code worked perfectly fine! Thanks!

[2021-06-18 12:01] harshal311989 opened #84 "Click cross icon textfiled Placeholder not set initial postion"
Hi @Cnilton I am using your component in my app and I face one issue like I have one textfield and right side cross icon for clear text so when i click on cross icon text is clearing but place holder not set as initial postion by animation see my aatchment

https://user-images.githubusercontent.com/75067288/122557739-cffc8900-d05a-11eb-965b-cd9b3bed6e95.mov

Below is my code

<FloatingLabelInput

[2021-06-18 13:18] Cnilton commented on #84
Hi @harshal311989, I'm sorry but I couldn't reproduce your issue using the following code:

[code]

<img src ="https://i.imgur.com/GYhtdAV.gif" width="40%"/>

[2021-06-19 09:22] harshal311989 commented on #84
@Cnilton  I checked your code for single textinput it is working due to in your code when you close keyboard textinput cursor is there but in my video when i click cross icon my textinput cursor focus is gone that is the problem placehodler not animated.

[2021-06-28 14:03] harshal311989 commented on #84
@Cnilton I resolved my bug with below code in my js file

For iOS
[code]

For Android
[code]

Because in android keyboard open issue is there so i remove timout from that now it is working and you can close this issue. Thanks for your time :)

[2021-06-30 04:06] #84 closed

[2021-07-02 12:52] fakeheal opened #86 "Question: Can inputs be disabled"
Hey,

can the input be disabled programatically? I tried passing `disabled={true}`, but I don't think it did anything. I couldn't find anything in the README, too.

[2021-07-02 15:07] Cnilton commented on #86
Hi @fakeheal, I think you need both **disable** and **focusable** to achieve your goal. Can you please try it out?

[2021-07-09 11:04] #86 closed

[2021-07-29 09:15] teckbeng-payboy opened #87 "Padding between label and top border"
I would like to ask how can I add some padding to the top of container when the label is in focused. Currently the label is too near to the top border when is in focused and i would like to make it same space as the padding under the input.

Attached is the video for demo
https://user-images.githubusercontent.com/85466071/127465477-f1d0edc6-5931-4484-8651-09bf9ea998e8.mov

[2021-07-30 06:41] Dugnist opened #88 "TypeError: undefined is not an object (evaluating '_reactNativeReanimated.EasingNode.linear'"
![image](https://user-images.githubusercontent.com/6489460/127611843-c9a63a50-571c-478d-9dff-486a7618bcb7.png)
![image](https://user-images.githubusercontent.com/6489460/127611868-54b3e68d-6120-4f52-95c1-9e5c3d317b06.png)

[2021-07-30 06:42] Dugnist commented on #88
![image](https://user-images.githubusercontent.com/6489460/127611938-7ea47fcf-e4cb-4484-ab6a-0394d6202e98.png)

[2021-07-30 06:44] Dugnist commented on #88
I just install 1.13.2 and got the same error...

![image](https://user-images.githubusercontent.com/6489460/127612159-6aa62d7f-f0ec-4d22-ad48-3302af63dde2.png)

[2021-07-30 06:45] Dugnist commented on #88
![image](https://user-images.githubusercontent.com/6489460/127612219-2086d9d3-02cb-4376-8cee-8dd3e05089ef.png)

[2021-08-04 03:49] binhchili opened #89 "Label input animate again when go to new line"
I have my input which can auto expand a new line when the text reach the end of line. I enabled `multiline={true}`,  but every time a new line is added, the label animates one more time and it is pretty annoying.

![bug](https://user-images.githubusercontent.com/69777410/128119116-7f10a128-65e4-459b-8504-ba57e0e40246.gif)

Here my code for the input:
[code]
Any help is appreciated !

[2021-08-05 09:22] Cnilton commented on #89
Hi @binhchili, my suggestion is that you use the static label prop, because this lib animate the label position based on its height, can you please try it out?

[2021-08-05 09:23] Cnilton commented on #88
Hi @Dugnist, I'm sorry for taking do long, this weekend I'll be checking this issue.

[2021-08-11 23:17] Cnilton commented on #89
@binhchili any updates?

[2021-08-12 00:09] Cnilton commented on #88
@Dugnist, I'm sorry, but in my end couldn't reproduce this issue:

![image](https://user-images.githubusercontent.com/40298250/129119118-09b6cb16-c9d5-430b-bbae-ba374e252ec3.png)
![image](https://user-images.githubusercontent.com/40298250/129119139-a3323173-b698-413e-8625-40f9f5e46fe1.png)

[2021-08-12 00:13] Cnilton commented on #87
@teckbeng-payboy you could use **customLabelStyles** prop to customize, check the readme.md

[2021-08-16 00:34] #89 closed

[2021-08-16 00:34] #88 closed

[2021-08-20 12:40] ngmikeng opened #91 "Unable pass the unit test with some weird errors"
I try test a component which is using the floating label input but it can't pass the unit test, but another components which are not using the floating  label input passed the test.

It throws an error and some weird logs, have anyone seen this before?

[code]

[code]

Thanks for your contribution.

[2021-08-21 12:13] #87 closed

[2021-08-23 03:11] teckbeng-payboy opened #92 "Error with RN 0.65"
![simulator_screenshot_D17009BF-CCD1-4147-88B7-8FF478E04533](https://user-images.githubusercontent.com/85466071/130384908-0bfaccc8-9ede-4d93-a2a1-757bcaf3f81f.png)

This only happen on RN0.65 when you click on the text input

[2021-08-28 15:08] Cnilton commented on #92
Hi @teckbeng-payboy, I'll check this weekend!

[2021-09-03 12:33] rakeshsharma0 opened #93 "Floating label not working with dynamic value"
Here is code of input

 <FloatingLabelInput
            value={courseData.course_name}
            onChangeText={(val) =>
              setCourseData({ ...courseData, course_name: val })
            }
            containerStyles={styles.inputContainer}
            onFocus={() => setCourseErr("")}
            inputStyles={{
              fontFamily: "nunito-regular",
              fontSize: 15,

[2021-09-05 11:01] Cnilton commented on #93
Hi @rakeshsharma0, I'll try to reproduce your issue

[2021-09-08 09:01] rajatsj commented on #93
Use timeout  to set value for label dynamically
setTimeout(
        function() {
           setName('VALUE')
        },
        1000
      );

[2021-09-10 11:05] #92 closed

[2021-09-23 10:28] erheron opened #95 "[BUG] `secureTextEntry` prop declared and not used"
In the [definition](https://github.com/Cnilton/react-native-floating-label-input/blob/7e2fa051b58127445bbc5c61bb9b1fea00f2c53a/src/index.tsx#L30) of `Props` type we have `Props extends TextInputProps` and because `TextInputProps` declares `secureTextEntry`, then `Props` type has `secureTextEntry` as well.

However, quick look through the code is enough to say certainly that if `secureTextEntry` pr

[2021-09-23 19:57] Cnilton commented on #95
Hi @erheron, that sounds good, would you mind creating a pull request fixing that?

[2021-09-23 19:58] erheron commented on #95
Sure @Cnilton , I'll open a PR soon

[2021-10-06 21:12] sritharIOS opened #96 "Focus text fields while clicking next"
Hi Author,

Can you please guide me that how to implement the focus text field while clicking the next button?

[2021-10-13 17:26] kenjimaeda54 opened #97 "I cant remove underline"
I cant remove underline on Android.
I try use underlineColorAndroid="transparent", but don't work.

[2021-10-13 20:58] #97 closed

[2021-10-17 14:23] Cnilton commented on #96
Hi @sritharIOS, sure!

To achieve that you need to declare a ref and pass it to the input, like so:

[code]

[2021-10-21 22:40] #96 closed

[2021-10-22 12:54] PietroGianniRuggeri opened #98 "Error style Text password ShowPassword/Hide Password"
Hello, here is code of input

<FloatingLabelInput
        inputStyles={{
          fontFamily: platform.fontTextFamily,
          color: error === false ? platform.brandDarkGray : 'red',
        }}
        label={placeholder}
        labelStyles={{fontFamily: platform.fontTextFamily}}
        showCountdownStyles={{fontFamily: platform.fontTextFamily}}
        isPassword
        togglePassword={fal

[2021-11-05 01:21] agencia3w commented on #93
Same problem here, any solution?

[2021-11-18 21:42] sritharIOS opened #100 "Create ref to setFocus in functional component"
Hi @Cnilton ,

Can you please guide me to do setFocus through ref in functional component?.

[2021-11-20 12:56] Cnilton commented on #100
Hi @sritharIOS, please try doing something like:

[code]

[2021-11-24 22:12] Cnilton commented on #100
@sritharIOS, any updates?

[2021-11-25 03:31] Heanphearak opened #103 "TypeError: undefined is not an object (evaluating '_reactNativeReanimated.EasingNode.linear')"
Why it error like that after install call to use

[2021-11-25 11:48] erheron commented on #95
Closed by #99

[2021-11-25 11:48] #95 closed

[2021-11-25 23:10] Cnilton commented on #103
Hi @Heanphearak, did you follow the installation steps on the README.md file?

[2021-11-26 23:16] #100 closed

[2021-11-29 14:35] Latropos opened #104 "Multiline prop doesn't work as expected"
Hi,
I was trying to create multiline input field, like the second in the video:

https://user-images.githubusercontent.com/56199675/143885909-4ed1c251-2991-4299-af12-3c43f227b746.mov

To achieve that I had to patch the lib, cause containerStyle is [always partially overwritten](https://github.com/Cnilton/react-native-floating-label-input/blob/49b397ed65d20431c2e4fbc9d244b9157a4a5e49/src/index.tsx#

[2021-12-01 11:14] erheron commented on #104
CC @Cnilton @erheron

[2021-12-04 00:17] Cnilton commented on #104
@Latropos, @erheron I'll work on it this weekend!

[2021-12-04 00:17] #103 closed

[2021-12-04 13:48] Cnilton commented on #93
Hi guys, sorry for taking so long.. but unfortunately I couldn't reproduce the issue:

[code]
<div>
<img src="https://user-images.githubusercontent.com/40298250/144711701-8c4ae8cf-1445-4e66-9cb2-235f8d65ea53.png" width="30%"/>
<img src="https://user-images.githubusercontent.com/40298250/144711836-d466018a-271f-4b79-9a84-a47f1a656d0e.png" width="30%"/>
<img src="https://user-images.githubuserconten

[2021-12-07 03:24] santiagofm commented on #93
@Cnilton You can repro this when conditionally rendering the label and setting both `value` and `customLabelStyles.topFocused`:

[code]
If you don't set `customLabelStyles.topFocused` then it won't overlap but animate into place.

As a side question, is there any way to avoid the animation? if the label already has a value I want it to just show the label without animating. Played around with `sta

[2021-12-08 06:05] iaminarush commented on #93
@Cnilton Made a [snack](https://snack.expo.dev/@iaminarush/floating-label) to show the problem if it helps, the problem appears if the initial value is not blank, thanks for the hard work

[2021-12-14 03:35] Gamma169 opened #105 "Remove Spread Operator For Styles to Support Web Better"
Thanks to @santiagofm for finding this.

Looks like the spread operator is not really supported by react-native stylesheets.
https://github.com/necolas/react-native-web/issues/1259#issuecomment-467668100

The linked issue above is in reference to `Stylesheet.create`, but it looks like it applies to how styles are done in this repo as well.
https://github.com/Cnilton/react-native-floating-label-inp

[2021-12-18 10:14] AndreiBehel commented on #104
Hi, any progress on multiline functionality?

[2022-01-04 00:14] maximilize opened #106 "Typescript errors"
When importing your module into our project, `yarn tsc` returns a lot of errors. I guess you don't include `tsc` in your tests, but only rely on the output of eslint? It's the only package which has issues like that.

Sadly it's very hard to fix this error on our side since the ts config `exclude` option does not allow the exclusion of required file.

We are using typescript v4.5.4. Here the outpu

[2022-01-17 11:13] prasanna-panneerselvam opened #107 "Unhandled JS Exception: TypeError: undefined is not an object (evaluating 'u.installCoreFunctions')"
iOS app getting crashed when call the react-native-floating-label-input package.

Xcode version 13
RN version 0.64.2
Reanimated version 2.3.1

<img width="1147" alt="Screenshot 2022-01-17 at 4 36 23 PM" src="https://user-images.githubusercontent.com/11269370/149759641-16599952-d6f3-40eb-9aa9-c207e5e737f9.png">

[2022-01-19 10:02] mydesweb opened #108 "Support suppressHighlighting for Label"
Personally I don't like the visual change that is made when text Label is pressed down. Please allow the `suppressHighlighting={true}` prop to be configured.

[2022-01-19 15:45] NayaraGoulart opened #109 "We can't change the font-family"
I was using the component in a project, but I can't set fontFamily to labelStyle and inputStyle. It doesn't give an error, but it doesn't apply the style either.

[2022-01-23 18:15] robsmithw commented on #91
@ngmikeng I'm sure you've figured this out by now but incase you haven't.

I seen the same thing and realized it came from react-native-reanimated not being mocked in the test. You can add the following to your `setup-test` or specific test file.
`jest.mock('react-native-reanimated', () => require('react-native-reanimated/mock'));`
I still ended up with more errors from this library around fontsiz

[2022-01-25 08:05] bgrgit opened #110 "Android Autocaps working"
Automatically the letter changes to caps. Can you guide me how to resolve it. And the character is appending while typing

[2022-02-14 14:43] assafco opened #112 "react-native-web"
Is the floating label supported by react-native-web?
By running in browser I get this error:

TypeError: Cannot read properties of undefined (reading 'style')
Module.<anonymous>
node_modules/react-native-floating-labels/index.js:22
  19 | var textInputPropTypes = TextInput.propTypes || textPropTypes
  20 | var propTypes = {
  21 |   ...textInputPropTypes,

  23 |   labelStyle: textPropTypes.style,

[2022-02-15 00:40] Kyonru commented on #106
@maximilize Did you manage to fix this?

[2022-02-24 13:56] Abdelwahab07 commented on #93
Is there's any update?

[2022-03-09 07:35] isthisshivam opened #114 "after some time its giving error"
![image](https://user-images.githubusercontent.com/33997503/157394175-ced36c31-090d-49c6-a2bb-14d6b4b8513f.png)

[2022-03-11 20:35] vinniimiranda commented on #91
I am getting this error for the same issue above:
Warning: Failed prop type: Invalid prop `fontSize` of type `object` supplied to `Text`, expected `number`.
      Bad object: {
        "paddingVertical": 10,
        "fontSize": {
          " __value": 12
        },
        "fontFamily": "Poppins_400Regular",
        "left": 5,
        "alignSelf": "center",
        "position": "absolute",

[2022-03-13 22:24] Cnilton commented on #114
Hi @isthisshivam, can you please inform how did your reproduce this issue and also versions of this lib and of react-native-reanimated?

[2022-03-13 22:26] Cnilton commented on #112
Hi @assafco, I'm sorry, but this lib is supported only by react-native. Maybe in the future, this will be available for web development.

[2022-03-13 22:26] #112 closed

[2022-03-13 22:29] Cnilton commented on #110
Hi @bgrgit, you can customize it by changing the props just as you would do with a regular TextInput.

[2022-03-13 22:30] Cnilton commented on #109
Hi @NayaraGoulart, were you able to set the font to another component?

[2022-03-13 22:49] Cnilton commented on #108
Hi @mydesweb, I'll be adding this feature at the next version, from within **labelProps** property passing parameters as an object.

[2022-03-13 22:50] Cnilton commented on #107
Hi @prasanna-panneerselvam, did you follow reanimated installation steps?

[2022-03-13 22:50] #106 closed

[2022-03-13 23:56] Cnilton commented on #93
Hi guys, I'm sorry for taking so long. This will be fixed in the next version!

[2022-03-14 00:05] Cnilton commented on #91
Hi guys, this issue should be fixed in the next version.

[2022-03-14 20:08] Luhkas27 opened #115 "not working onChange"
Good afternoon, the input is not working correctly on his onChange, I have already updated both the lib here and the reanimated to see if it came back and nothing worked.

https://user-images.githubusercontent.com/41193788/158252720-dfc047e6-1da0-4139-b7eb-1cafb37d394e.mov

[2022-03-14 23:31] Cnilton commented on #115
Hi @Luhkas27, I think you are using the wrong property. For the input text value change you should use `onChangeText` prop.

[2022-03-15 11:10] Luhkas27 commented on #115
then follow the component code:

 const handleChange = (value: any) => {
    let stageValue = value
    if (maskType && masks[maskType]) stageValue = masks[maskType](value)
    if (onChange) onChange(stageValue)
  }
  return (
    <>
      <S.Container>
        <S.WrapperInput>
          {icon && <IconLock />}
          <S.Input
            ref={(r) => {
              if (ref && r?._inputElement)

[2022-03-15 20:52] Cnilton commented on #115
I'm sorry, but part of the code that is relevant for this probable issue is missing as being used in:

[code]

Can you please inform the usage of the `masks`, `maskType`, and `onChange`?

[2022-03-18 16:41] Cnilton commented on #115
@Luhkas27, any update?

[2022-03-18 16:42] Cnilton commented on #114
@isthisshivam, any update?

[2022-03-18 16:43] Cnilton commented on #110
@bgrgit, any updates?

[2022-03-18 16:43] Cnilton commented on #109
@NayaraGoulart, any updates?

[2022-03-18 16:44] Cnilton commented on #108
@mydesweb there is a new version where you can set props to the label, can you please test it?

[2022-03-18 16:47] Cnilton commented on #93
New version released should fix this!

[2022-03-18 16:47] Cnilton commented on #91
New version released should fix this!

[2022-03-18 17:11] Luhkas27 commented on #115
@Cnilton we couldn't come up with a concrete solution and decided to make another input component by hand

[2022-03-18 19:19] NayaraGoulart commented on #109
@Cnilton
Sorry for the delay!
So, the standard input component I can modify the font-family when in the XML I also put "styles={{ fontWeight: 'normal' }}".
It looks like this:
![image](https://user-images.githubusercontent.com/66383949/159070027-bbbe3751-c29a-4534-be63-66efe868769f.png)
![image](https://user-images.githubusercontent.com/66383949/159070065-6a470b9c-6e73-46ce-9e04-0939007234ad.png)

[2022-03-18 19:59] Cnilton commented on #115
I'm sorry to hear that, but if you change your mind, I'll be right here!

[2022-03-18 19:59] #115 closed

[2022-03-19 20:35] Cnilton commented on #109
@NayaraGoulart I could set fonts without any trouble on my side, did you create a configuration file at project root, named `react-native.config.js` for setting the fonts config?

Example:
![image](https://user-images.githubusercontent.com/40298250/159137565-75901f0b-8044-4b56-9061-c65d36275056.png)

react-native.config.js file:
[code]

[2022-03-21 10:53] NayaraGoulart commented on #109
I did this configurations:

react-native.config.js:
![image](https://user-images.githubusercontent.com/66383949/159246717-d1e0cb50-ce7f-4047-8426-378113281a13.png)

index.js:
![image](https://user-images.githubusercontent.com/66383949/159246876-853d4b81-61d9-43eb-8dd8-5ed5f6927d7f.png)

I've tried to put it globally so I don't have to adjust on each component. I also remember trying on one in part

[2022-03-21 11:17] Cnilton commented on #109
@NayaraGoulart I think I see the problem now, you are setting font-family and color to customLabelStyles instead of labelStyles, could you please try it?

[2022-03-22 21:30] Cnilton commented on #109
@NayaraGoulart, any updates using labelStyles within the customLabelStyles?

[2022-03-23 08:29] ibrahim7elmasry opened #116 "Style changes after release"
there is an issue when release an APK or IPA the style change but in debugging there is no problem

[2022-03-23 10:10] NayaraGoulart commented on #109
For sure!
Thank you very much!
It worked globally! I can't believe :)

![image](https://user-images.githubusercontent.com/66383949/159675328-1096a5fa-1bf0-4c10-9ce1-3ab2fc482b0e.png)

[2022-03-24 02:07] Cnilton commented on #109
You're welcome @NayaraGoulart, thanks for contributing! I'll mark this issue as `question` and close this now. Feel free to open another issue if there is any other doubt or error.

[2022-03-24 02:07] #109 closed

[2022-03-24 02:09] Cnilton commented on #116
Hi @ibrahim7elmasry, could you please elaborate on what kind of issue we are dealing with, or, even better, an image?

[2022-03-24 02:10] #114 closed

[2022-03-24 02:10] #110 closed

[2022-03-24 02:10] #108 closed

[2022-03-24 02:10] #107 closed

[2022-03-25 22:49] Cnilton commented on #116
@ibrahim7elmasry any updates?

[2022-03-28 21:01] #116 closed

[2022-03-28 21:02] Cnilton commented on #105
Hi @Gamma169, sorry for taking so long. Could you please try the latest version?

[2022-03-28 21:04] Cnilton commented on #93
@agencia3w, @santiagofm, @Abdelwahab07 and @iaminarush, can you please try the latest version?

[2022-03-28 21:05] Cnilton commented on #91
@robsmithw, @vinniimiranda and @ngmikeng, can you please try the latest version?

[2022-03-30 19:19] #93 closed

[2022-03-30 19:20] #91 closed

[2022-04-01 16:21] adamsythe opened #119 "currency as a masktype broken"
Two issues when i use currency as a masktype.  Firstly users cant backspace at all and secondly textInput just has NaN after user types more than 4 characters

[2022-04-01 16:58] Cnilton commented on #119
Hi @adamsythe, I'll test it out later. What version are you using?

[2022-04-01 18:19] adamsythe commented on #119
"react-native-floating-label-input": "^1.3.13",

"react-native-floating-label-input": {
      "version": "1.3.13",
      "resolved": "https://registry.npmjs.org/react-native-floating-label-input/-/react-native-floating-label-input-1.3.13.tgz",
      "integrity": "sha512-vTfwiT4e6/9BdzFuvVo9Bg1Lj0Kle22GivoWzmSII1ZwvH56sjZvKKWpBfomNXy9VIneK3lky+l2Xb40+hsQMw==",
      "requires": {}
    },

[2022-04-05 14:43] Gamma169 commented on #105
Hi @Cnilton , sorry for not getting back to you too quickly.  I just tried the latest version, and it definitely looks better, but is still not perfect.  Any way you could link the PR/commit that you did to try to fix this issue on your end?  I am having difficulty in finding it.

In the mean time, my team used patch-package to resolve things on our end.  I am attaching the patch-file here so you

[2022-04-07 14:25] bgrgit opened #120 "Android : Text Overlapping issue"
Text getting overlapping with placeholder text. Can you help me to fix this
<img width="304" alt="Screenshot 2022-04-07 at 7 56 28 PM" src="https://user-images.githubusercontent.com/31758716/162222386-fa125fb9-40b7-48a1-abd4-7a53bb300c97.png">
s

Upgrading to
    "react-native-floating-label-input": "^1.3.13",

After upgrading to above version, I am getting below issue. Firstname placeholder hidde

[2022-04-08 01:48] Cnilton commented on #120
Hi @bgrgit, I'm sorry, but I couldn't understand your issue.. Could you please elaborate? And if possible, post your code?

[2022-04-08 12:41] bgrgit commented on #120
Hi @Cnilton  , In second Image , First name field have text but not visible. And sometimes it's getting overlapping.

[2022-04-08 19:01] Cnilton commented on #119
@adamsythe, could you please try new version? I changed currency masking back to the old form.

[2022-04-11 16:02] Cnilton commented on #120
@bgrgit any updates?

[2022-04-11 16:02] Cnilton commented on #119
@adamsythe, any updates with the new version?

[2022-04-11 19:42] adamsythe commented on #119
thanks it works :). Would be nice if we could have a space as divider as well :)

[2022-04-11 20:01] Cnilton commented on #119
@adamsythe,  maybe you could use spacing without currency mask, but I'm glad it's working now! I'll be closing this issue now!

[2022-04-11 20:01] #119 closed

[2022-04-14 17:41] #120 closed

[2022-04-15 12:59] harshal311989 opened #121 "Multiline Android React native always focus last charater not Top"
hi team,

I used this plugin in my application and i add multimine={true} for support multiple line in my text filed so when i run application in android and i set long text on that it is always focus at bottom which i add last not focus top . Refer my video it will give better idea

https://user-images.githubusercontent.com/75067288/163573654-45460c5f-81a1-408f-88ea-27006968126b.mov

Any idea how

[2022-04-16 18:05] BerkeAras commented on #93
@Cnilton Still the same issue for me :(

[2022-04-17 14:21] Cnilton commented on #105
Hi @Gamma169, I'm sorry for the hold up on my side either. I'll reopen this, but could you please create a pull request for fixing this?

[2022-04-17 14:39] Cnilton commented on #121
Hi @harshal311989, I'm afraid this is the default behavior on android. But you could get over it with the *selection* prop and maybe a boolean useState variable for controlling when render has occured and then setting selection to undefined like:

[code]

[2022-04-17 14:55] Cnilton commented on #104
Hi @AndreiBehel @erheron and @Latropos this can be accomplished simply by adding **textAlignVertical: 'top'** on `inputStyles` property.

[2022-04-17 14:55] #104 closed

[2022-04-18 04:18] Gamma169 commented on #105
Thanks for reopening.  Will try to get to it before month end.

[2022-04-18 06:00] harshal311989 commented on #121
@Cnilton yes working .

[2022-04-18 11:56] Cnilton commented on #121
Thanks for the quick response @harshal311989! I'll close this issue now.

[2022-04-18 11:56] #121 closed

[2022-04-28 11:44] OwaisNizami opened #122 "Placeholder position issue while using multiline?"
Hey there, Your component is great without any doubt.
I just had a little problem adjusting the position of LABEL when using multiline. It actually aligns it to the center of the text box. For example, if I am using multiline with the number of lines(10) then the label in the center looks kind of odd. I want to adjust it to a little below of top left corner where the input will start so that it ma

[2022-04-28 12:33] OwaisNizami commented on #104
textAlignVertical: 'top' in input styles doesn't work. Need to move the position of the LABEL, not the input. Please guide @Cnilton

[2022-04-29 21:01] ceyanesb opened #123 "this library freezes up my app"
This library freezes up my app, back swipe doesn't work as well as the hot reload!

[2022-04-30 13:55] Cnilton commented on #123
Hi @ceyanesb, what version are you using? Did you follow the steps for installation?

[2022-04-30 13:59] Cnilton commented on #122
Hi @OwaisNizami, what version are you using? Also, there is a `staticLabel` prop, maybe it is useful for you multiline input. But if it is not what you are looking for, you could set topFocused and topBlurred in `customLabelStyles` prop.

[2022-04-30 16:29] ceyanesb commented on #123
Yes. I followed the instructions on installing react native reanimated and everything else but it still freezes the app, it displays and you can type but hit reload won't work and swipe back gesture also won't work

[2022-05-06 14:46] adamsythe opened #125 "library is causing android to crash"
When i run this on an android device it throws the following error

TypeError: Cannot read property 'FloatingLabelInput' of undefined

this is how I am importing

import { FloatingLabelInput } from 'react-native-floating-label-input';

and then if i use it at all it crashes.  Works perfectly on IOS.

I test a production build and it doesn't crash in production only in development

[2022-05-07 01:00] Gamma169 commented on #105
Hi @Cnilton. A little late, but I found some time today to make updates and check against my code.  Opened a PR if you would like to take a look.  Thanks!

[2022-05-09 05:55] OwaisNizami commented on #122
![image](https://user-images.githubusercontent.com/21118326/167348546-9321a7a9-0fbe-4d2d-ab7b-3b32abd85008.jpg)
@Cnilton
Please check the image. I want to move the 'About You' Text label to the top left corner and I don't want to use the Static label property as I still want to have an animation effect. Please check attached image.

[2022-05-10 16:07] Parth8733 commented on #122
Okay,
Thank you for the reply.
  <FloatingLabelInput
                        label="Event Description"
                        hint="Description"
                        textAlignVertical="top"
                        numberOfLines={10}
                        multiline=true
                        maxLength={150}
                        showCountdown=true
                      />
 I am getting er

[2022-05-11 16:09] Parth8733 commented on #122
Thank you @Cnilton

[2022-05-11 16:11] Cnilton commented on #125
Hi @adamsythe, what version are you using? Did you run yarn before running the app?

[2022-05-12 10:49] OwaisNizami commented on #122
Yes, I had already tried CustomLabel styles. It doesn't work as per my requirement. Please check the image again which I have attached above in the comments. I want to change the initial position of the 'About" label in the multiline input and place it almost in the upper left corner instead of the center of the container and have the little animation from that position then instead of going all t

[2022-05-12 14:14] Parth8733 commented on #122
hi @OwaisNizami,
if remove topFocused:20 and Add topBlurred: -30. it will move the label near the top. But, I am having a problem with the input text overwriting the Label.

[2022-05-12 14:26] OwaisNizami commented on #122
@Parth8733
I have tried all such scenarios, it's just didn't work the way we want. Let's wait for @Cnilton response. He may guide better about this

[2022-05-18 05:05] OwaisNizami commented on #122
hey @Cnilton , any update, please?

[2022-05-19 04:14] Cnilton commented on #122
Hi @OwaisNizami, I'm sorry for the holdup, I'll try to check it out tomorrow.

[2022-05-20 09:08] hieunm96dev commented on #122
Try using containerStyles={{flex:1 ,minHeight: 50}} with multiline

[2022-05-26 14:30] SaadBinWaheed-empglabs commented on #86
Disabled to be passed where?

[2022-05-30 09:46] lukebars commented on #106
@Cnilton these typescript errors are still present

[2022-05-30 10:50] OwaisNizami commented on #122
@Cnilton
Still waiting for your reply brother

[2022-06-01 13:27] SaadBinWaheed-empglabs opened #128 "Invariant Violation: Native module cannot be null. When running Jest."
The package is working fine on both Android and iOS but when I ran my tests, I faced this error.

[code]

[2022-06-01 15:51] SaadBinWaheed-empglabs commented on #128
Was able to resolve this by adding the following line `setupTests.js`.

`jest.mock('react-native-floating-label-input/node_modules/react-native-reanimated', () => require('react-native-reanimated/mock'));`

[2022-06-01 15:51] #128 closed, assigned to nobody

[2022-06-02 10:23] SaadBinWaheed-empglabs commented on #106
@Cnilton I am getting the following Typescript error when trying to compile using `tsc` command.

[code]

[2022-06-02 14:49] askynet commented on #122
For me, it works by setting `topBlurred: -50` i.e negative number
![Screenshot 2022-06-02 at 8 15 51 PM](https://user-images.githubusercontent.com/38763681/171656760-9db890a3-1f3b-4917-b12f-c690c171d761.png)

![Simulator Screen Shot - iPhone 12 Pro Max - 2022-06-02 at 20 15 00](https://user-images.githubusercontent.com/38763681/171656654-3f207166-b8a9-428b-b689-5b2b3dfb38d7.png)
![Simulator Screen

[2022-06-05 17:31] #105 closed

[2022-06-05 20:11] Cnilton commented on #122
@OwaisNizami, I'm really sorry for taking so long... There is a workaround similar to @askynet code. By setting topBlurred and topFocused in customLabelStyles and setting textAlignVertical: 'top' in inputStyles.

[2022-06-07 12:42] stereodenis commented on #122
is it connected with this issue?
Label bouncing while adding new line
![Simulator Screen Recording - iPhone 13 - 2022-06-07 at 15 40 53](https://user-images.githubusercontent.com/1406461/172381277-1fda1711-4df3-4a1b-a953-222efa2779b2.gif)

[2022-06-08 00:01] Cnilton commented on #122
@stereodenis I think it is related, yes. A workaround for your issue is to set numberOfLines property. I know that this isn't the best, but since the height of the component is updated the animation occurs by calculating the addition of height. If I just calculate once, the label will be stuck at the initial height and eventually will be in front of the input text.

@stereodenis I'll try to find a

[2022-06-08 00:01] #125 closed

[2022-06-08 00:03] Cnilton commented on #123
@ceyanesb, do this issue still occur? If it does, could you please provide more information, like react-native version, reanimated version, and error message?

[2022-06-08 21:54] Cnilton commented on #106
@SaadBinWaheed-empglabs can you please try the latest version?

[2022-06-08 21:58] Cnilton commented on #86
@SaadBinWaheed-empglabs I'm sorry, there are no props like I said. The right property would be *editable* :

[code]

[2022-06-08 22:02] Cnilton commented on #104
@OwaisNizami I'm sorry, I didn't understand. To achieve that you could use **customLabelStyles** property **topFocused** and **topBlurred**, and to have the input value at the top, you could use the textAlignVertical as I said before.

[2022-06-13 00:38] designsheikh opened #129 "Typing not working (v1.3.13)"
After correctly installing the library and adding it to my project - clicking on the input provides the correct floating label animation. However, when typing inside the input, the character is automatically deleted both on simulator and on device and the input remains empty.

Awaiting replies

Thanks

![120CF9D6-78D1-42CF-AD0D-9C1D4D179B6E](https://user-images.githubusercontent.com/60884506/17326

[2022-06-13 11:29] Cnilton commented on #129
Hi @designsheikh, can you please post the code used on floating label input? It seems like maybe you forgot to use onChangeText prop.

[2022-06-13 15:37] designsheikh commented on #129
Hi @Cnilton - This solved the issue. I was missing both value and onChangeText.

Thakn you for your prompt response!

[2022-06-13 16:40] designsheikh opened #130 "Color on labelStyles not changing"

[2022-06-13 16:43] #130 closed

[2022-06-13 16:43] #129 closed

[2022-06-15 00:53] designsheikh opened #131 "flexDirection row removes bottom border"
After trying to position the input as desired, the result causes the input field to lose its border and also any text which is typed is not visible.

[code]

[2022-06-15 20:53] designsheikh commented on #131
Hi @Cnilton - any idea on this?

[2022-06-16 20:20] Cnilton commented on #131
Hi @designsheikh, actually it's an issue with an internal container. I'll fix this in the next version!

[2022-06-16 20:56] Cnilton commented on #131
Can you please try version 1.4.2?

[2022-06-16 22:12] srithar21 opened #132 "Autofill phone number - remove +91 or country code"
Hi ,

I am facing the issue in autofill phone number from the suggestion. Here, not able to detect that selection because need to remove the +91 or any country code.

OS: iOS 15.5
React native: 67.2

[2022-06-16 23:18] Cnilton commented on #132
Hi @srithar21, I'm sorry, but I couldn't understand your issue with this lib. What exactly is happening with the input, and what version of this lib are you using?

[2022-06-17 17:57] #123 closed

[2022-06-19 17:28] Cnilton commented on #132
@srithar21 Any updatas?

[2022-06-21 22:08] srithar21 commented on #132
![Image from iOS (1)](https://user-images.githubusercontent.com/1001455/174905065-a14db107-7f8f-407e-93c7-909a93e191a8.png)
Hi Cnilton,

 I am asking about any way to detect when number selected from the keyboard above? Highlighted in red color.

[2022-06-21 23:35] #131 closed

[2022-06-21 23:36] Cnilton commented on #122
@stereodenis and @OwaisNizami any updates?

[2022-06-22 06:40] stereodenis commented on #122
@Cnilton  I made my own custom input with floating label

[2022-06-22 17:01] Hantex9 opened #133 "Prevent floating animation if there is default value"
Hello,
I need that floating animation doesn't start if there is default value setted preventing the following UI bug effect:

https://user-images.githubusercontent.com/34343582/175095192-d0c984ec-bce2-471f-9366-0b654180c5e2.mp4

There is some property that I can edit to achieve what I'm looking for?

[2022-06-24 21:02] Cnilton commented on #133
Hi @Hantex9, could you please try setting animationDuration to a very low value, like 50?

[2022-06-27 23:52] BuXXe opened #134 "Changing label color is a bit counter intuitive"
I tried to change the color of the label by using the label_styles property given in your documentation. If you use the properties you gave in your example (backgroundColor: '#fff', paddingHorizontal: 5) they work as expected. If you now try to change the text color of the label by using the commonly known property (ex. color="red") it doesnt seem to do anything.

I solved this issue by using the

[2022-07-06 13:10] baranngungor opened #135 "Tried to synchronously call anonymous function from a different threat"
I can import and see the Floating Label Input but I faced error that say:

Occurred in workout location: node_modules/react-native-reanimated/src/reanimated2/hook/useAnimatedStyle.ts(492:18)

Possible solutions are:
a)If you want to synchronously execute this method, mark it as a Worklet
b)If you want to execute this method on the JS thread, wrap it using runOnJS

How can I fix that? What should I

[2022-07-08 05:19] bibekkotal opened #136 "defaultValue props are not working"
<FloatingLabelInput
                                        label='Full Name'
                                        defaultValue={userdata.full_name}   <---------- give me a solution asap
                                        staticLabel
                                        hintTextColor={Colors.placeholder}
                                        containerStyles={

[2022-07-09 00:21] asfandyarsheikh commented on #135
+1

[2022-07-09 13:27] Cnilton commented on #136
Hi @bibekkotal, I'm sorry, but there is no defaultValue prop. Could you please try using *value* prop?

[2022-07-12 10:19] Snowirbix commented on #106
Hello @Cnilton,
I still see some of the errors on the latest release 1.4.2 :
[code]
Is there any workaround ?

[2022-07-12 21:45] Cnilton commented on #136
@bibekkotal, any update?

[2022-07-12 21:46] Cnilton commented on #134
hi @BuXXe, could you please open a PR for adding this to the readme section? It would be of great help!

[2022-07-12 23:14] BuXXe commented on #134
#137 Done :)

[2022-07-13 00:30] Cnilton commented on #134
Thanks, I'll close this now 🚀

[2022-07-13 00:30] #134 closed

[2022-07-18 23:06] #136 closed

[2022-09-26 18:19] Edmundoacosta commented on #32
@Cnilton hello caio sorry to open this issue again but, can we have a hint always visible option? I want to create a date input like show below but with the placeholder always there.

[2022-09-26 19:23] Cnilton commented on #32
Hi @Edmundoacosta, I'm sorry but i didn't understand. If you want the hint also to be always visible, couldn't you just add it to the  label? The hint is just the placeholder for helping the user to understand the pattern of some field data.

If I'm correct, you want something like
![image](https://user-images.githubusercontent.com/40298250/192362336-1325955e-3104-4017-a3f4-7ac8e1dbb927.png)
but y

[2022-10-06 01:40] gustavogialim commented on #109
Hey folks, is it possible to set a different `fontFamily ` for the focused label?

[2022-10-06 16:10] anarkrypto opened #138 "Feature Request: disabled"
Hi! Congratulations on the excellent component.

I would like to request the implementation of the 'disabled' parameter.

I think it is greatly missed.

```<FloatingLabelInput disabled={true || false} ... />```

[2022-10-07 16:56] #132 closed

[2022-10-07 16:57] #32 closed

[2022-10-12 07:39] shellord opened #139 "onPressIn not working in android"
OnPressIn prop works in ios but its not working in android.

[code]

[2022-10-26 23:20] Cnilton commented on #138
Hi @anarkrypto, by disabled you mean changing the style of input and texts or disabling the touch and insertion of text?

[2022-10-26 23:21] Cnilton commented on #135
Hi @baranngungor, did you install the reanimated lib at v2?

[2022-11-01 02:03] TravisHi commented on #139
It works for me in android studio emulator. Can you give any more info?

[2022-11-05 02:07] sebasbeleno commented on #138
Hey @anarkrypto.

If you want to prevent the touch and insertion of text on the input you can use `editable` as a prop. The component extends `TextInputProps` from react-native.

[2022-11-05 21:33] anarkrypto commented on #138
@Cnilton, I mean both: disable text input and change the style

[2022-11-06 03:01] sebasbeleno opened #140 "Add array notation on styles props"
Hey There o/

When I try to use array notation on containerStyle I receive a typescript error.

`Type '({ borderWidth: number; paddingHorizontal: number; borderColor: string; borderRadius: number; marginBottom: number; } | { height: number | null; })[]' has no properties in common with type 'ViewStyle'.`

[code]

The app runs correctly with the previous code but its annoying the ts error.

Note: I

[2022-11-06 23:06] Cnilton commented on #138
@anarkrypto, so for changing style, I think the best would be if it was treated directly in your project because the disabled style isn't the same for everybody. And about disabling the input you do as @sebasbeleno said above.

[2022-11-06 23:07] Cnilton commented on #140
Hi @sebasbeleno, thanks for the heads up! Can you please open a PR to fix this? You could instead pass your styles like:

[code]

[2022-11-15 21:43] Cnilton commented on #140
@sebasbeleno you have to fork it first and then push it to your own repo, and then open the MR

[2022-11-15 21:43] Cnilton commented on #139
@shellord any updates?

[2022-11-15 21:45] #135 closed

[2022-11-18 17:01] #139 closed

[2022-11-22 20:04] Atom54 commented on #133
Thank you for this very useful library @Cnilton !
I also have this problem. The very low value on animationDuration just speeds up the animation but I can still see it. No idea yet on how to fix this for all devices ? Otherwise I'll try to find another workaround.